<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push</key>
	<dict>
		<key>token</key>
		<data>
		bWoS4vbApKoI25rVGbkblEnPs10C520BzBKfDjyOjd0=
		</data>
		<key>keypair</key>
		<dict>
			<key>cert</key>
			<data>
			MIICnjCCAgegAwIBAgIKAgtX7vURlIxEEDANBgkqhkiG9w0BAQUFADBaMQswCQYDVQQG
			EwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEVMBMGA1UECxMMQXBwbGUgaVBob25lMR8w
			HQYDVQQDExZBcHBsZSBpUGhvbmUgRGV2aWNlIENBMB4XDTI0MTExNTIxNTIxMVoXDTI1
			MTExNTIxNTcxMVowLzEtMCsGA1UEAxYkNURGNTg5RDAtMzJBOS00NTExLTlFM0ItMTVF
			RUEzOThCMzRDMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBniHecDxc2C8kx1KJ
			8ISO0GzdAxWV2j2qmdAqZQkYNupalCwYTm0jWo0HE8aasJ7cUV4XyBGWpeW+W0oAq/4Z
			4PQRgk0bsfiDnziF0ZlEGAxErOkDkRl2/WQ+/Dq3Q4BBVO3s/2rz/xbcex4KQIhW1d7p
			XUQbAo8ThxYL+k+85wIDAQABo4GVMIGSMB8GA1UdIwQYMBaAFLL+ISNEhpVqedWBJo5z
			ENinTI50MB0GA1UdDgQWBBTizP9qPnH+iPceWW9jRCdrVhRDBjAMBgNVHRMBAf8EAjAA
			MA4GA1UdDwEB/wQEAwIFoDAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
			EAYKKoZIhvdjZAYKBAQCBQAwDQYJKoZIhvcNAQEFBQADgYEAwVa+siAJdlIyJADsQI4d
			hNrBUI5XWhXaWnPp7cEKS+M+FiZ7V5SorSYgwjn383Bn6KIgmxGNnM9PGAODq9dPWJ2y
			jd1vAwhZeS1/42v8VMndp19Q3jjjSfO2CGGOrhwiM5V4JIkb9mGq94HO+46AQIzm5v+8
			h6pPLQuSPAk95uI=
			</data>
			<key>private</key>
			<data>
			MIICXgIBAAKBgQDBniHecDxc2C8kx1KJ8ISO0GzdAxWV2j2qmdAqZQkYNupalCwYTm0j
			Wo0HE8aasJ7cUV4XyBGWpeW+W0oAq/4Z4PQRgk0bsfiDnziF0ZlEGAxErOkDkRl2/WQ+
			/Dq3Q4BBVO3s/2rz/xbcex4KQIhW1d7pXUQbAo8ThxYL+k+85wIDAQABAoGAGsEfLP2V
			Wb8FxK9GWIlDx/hFEsU6Vlqx6sEWYsVTXGU6PQn8jd9IdXotwqyY5QdC7G7R8bdTtt11
			wbgbobwigHL0tu5wWoDqjVLDkEmfxm0kNflpWjzNzlDuVNUJjSj/+aldkWq6FdcgadlS
			/4iPpbtH2ciUjV5oR89JwOpurgECQQD8A+etx52j150DH6o4SW+KxFt2iTsNbYX61xl3
			LGImS50gEvG4BYIcb7UJp0i/IFXzu+l5Qojt+5pR1/5G6gNZAkEAxK3ZO3BvF++mdaB1
			6V3ZnUNMyO/2eX5lvP4Oz0dCf29dYlU/yyRMT3rNKS9+sOuriulqKxBUCDRQvVbskJT6
			PwJBAKRp18gkJtAxZpoXGnJGVqLtn84hkYkdHv+bPV3mctIRGp1GPrSTw2LR7gYyQN+Q
			NQMiYRtfMP4x22fxxk51dWECQQCNDgnQIVDrn8qIbe5i0hYyPYQiUEc61zXsF2FTs02z
			y5Dz5yP7cyrvjaj6Mr/v7vV2iPTFsc4ynCKTyHWdM9tNAkEAosnZS4RrtHUe9FuHf6+Q
			2YQ4/qqAjPXDL7/38hrhMOm17EnpN6gUZMPXKlz4QJi68vGTdZRGWdcbpVyNrpVzHA==
			</data>
		</dict>
	</dict>
	<key>identity</key>
	<dict>
		<key>signing_key</key>
		<data>
		MHcCAQEEIHqKSoJnAqt+MXxEVYqDBl6hzj1qct3aIqU+xO3SVjRSoAoGCCqGSM49AwEH
		oUQDQgAE5DJPnNcEO2lJeYUD9RRgAsOu4DWTHiiWrEEv8R7Yfom1oEh6/Bp63bJxjPPK
		D1ew8YE6ABYVVZGN1elv8nSFpg==
		</data>
		<key>encryption_key</key>
		<data>
		MIIC7gIBAAKBoQDVmFexGtEtJIiOCDZ/1j4O4okqUOg0AjEot9el3LJiF3wj3PvafsVP
		Hx1BGnbGkMJIrM9AGNjO8GZXbWXPI5EMKkAR0tKaAZVAJ4gB2eEVuzMVqZh5w5me2kh3
		wIhALKGJI67WcswkArOI51N92edRU2YEKpTddh87O/JtApPb9/xWe6rz9USCnTKKoEGr
		TkR3t9/zyHOJoXkIHP4uwY3ZAgMBAAECgaEAq9KROHdKLfZlo1wX+15tLawui0vqf2wD
		/61kXJjdJuudgXwTXgD82Fk/P0/6nGF26N+bGQTj5BSfP1VRwP/rfs2+HJhrslfzqFgk
		oNiUqNUlQcrTTgLRImvqxbGHm4GKsX0j7//UjxMABv8xIe8D6u8n1gNt9/dd8dVBxAWE
		VFGbSYW9GwrF6ickKFe7GylX8WC3o+74XtGOia/GJnnEwQJRAPxmybQvxB7Z7tnhXnKf
		GhRqNd7wh13cbGBOOHkm6mEucyPaz4iI8BiCl3J+MYOZaASU3AcC6RRY/aY4wRroWB0P
		SBNPJxSGC6CI6KxX9jKvAlEA2KPrXZp1bCMtGLpzbFl469B/iekCVAZJuUUZBTiOiLrA
		d+Z8DG4i8DkhzUVBDpSn0lTs6cjDnicS2nthRW+677o0tWPhLOmWZwKDuSQZifcCUH7D
		1RwVPWfNRsPRB9GDjOKh8Up1/VarxRadUomufNqwLI3ecIr/U67Lr+qF7LJOkspyRQuU
		b6GTjFk2ee3csZxut2FTSKprJF3NRSaByxnrAlEAzFwk5NGVvwKXweHwi98DAIBYL0IM
		njKoTQrvhUtKuZRhhzl2/0rNzoo2ZqrTqet1PCY8rnRig8gcMtl8csHpN8cRfaLQgUuA
		Q3/NvlJdfRUCUQCgjanKYgW24GGaUgA0GvaY4K7vP5dcRtSqycwDq1WLk+7F+jorEiNI
		oVopgN3GuzsoNfy8mWK4BWyAatwlAQv6Ca+Ifbjfwa5AUjYfZHhtwg==
		</data>
	</dict>
	<key>os_config</key>
	<dict>
		<key>type</key>
		<string>MacOS</string>
		<key>inner</key>
		<dict>
			<key>product_name</key>
			<string></string>
			<key>io_mac_address</key>
			<data>
			q83vq83v
			</data>
			<key>platform_serial_number</key>
			<string></string>
			<key>platform_uuid</key>
			<string></string>
			<key>root_disk_uuid</key>
			<string></string>
			<key>board_id</key>
			<string></string>
			<key>os_build_num</key>
			<string></string>
			<key>platform_serial_number_enc</key>
			<data>
			</data>
			<key>platform_uuid_enc</key>
			<data>
			</data>
			<key>root_disk_uuid_enc</key>
			<data>
			</data>
			<key>rom</key>
			<data>
			</data>
			<key>rom_enc</key>
			<data>
			</data>
			<key>mlb</key>
			<string></string>
			<key>mlb_enc</key>
			<data>
			</data>
		</dict>
		<key>version</key>
		<string>13.6.4</string>
		<key>protocol_version</key>
		<integer>1660</integer>
		<key>device_id</key>
		<string>2eec8543-dd88-42ec-9c87-32786bff46df</string>
		<key>icloud_ua</key>
		<string>com.apple.iCloudHelper/282 CFNetwork/1408.0.4 Darwin/22.5.0</string>
		<key>aoskit_version</key>
		<string>com.apple.AOSKit/282 (com.apple.accountsd/113)</string>
	</dict>
</dict>
