<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push</key>
	<dict>
		<key>token</key>
		<data>
		o3RAxp/atATEojBG/OHnK1MnMtCpIcy9dkzY0gmtOUs=
		</data>
		<key>keypair</key>
		<dict>
			<key>cert</key>
			<data>
			MIICnjCCAgegAwIBAgIKA3fS2DIJDPz5xDANBgkqhkiG9w0BAQUFADBaMQswCQYDVQQG
			EwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEVMBMGA1UECxMMQXBwbGUgaVBob25lMR8w
			HQYDVQQDExZBcHBsZSBpUGhvbmUgRGV2aWNlIENBMB4XDTI1MDEyNDIzMTIzMVoXDTI2
			MDEyNDIzMTczMVowLzEtMCsGA1UEAxYkRjZENjU4MTUtRTlFRS00NzgyLUFCODItMEMy
			OTQ4QzlGN0E2MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC7APkLkZGNL3z5wU1j
			uFPTYOf6SyRaTJzYKAc+A+fPOrF2lf8EHYTLURUgC1n1VRUcLiINLdQrpcs/KABMmZIP
			lqhn4RneJG6Cxi+S/miT4BvFfGlatqQqpzTO0WA6ICoNWI6Uo5kfU+B0ghixwZkSE5T0
			cMI8yJXM49VAbGMTkQIDAQABo4GVMIGSMB8GA1UdIwQYMBaAFLL+ISNEhpVqedWBJo5z
			ENinTI50MB0GA1UdDgQWBBRObBkAUFtk2wbCqEI1jnaSwFkE8zAMBgNVHRMBAf8EAjAA
			MA4GA1UdDwEB/wQEAwIFoDAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
			EAYKKoZIhvdjZAYKBAQCBQAwDQYJKoZIhvcNAQEFBQADgYEAcS/sIz1Ka++3sLc9TvAK
			uZVCX33uCIN/28k292HwYZ5TV0K/g7Pe2JU2Whix0q7MZolk72my5qgbiCbtN8hOhlOg
			+g9Advi9EYFpUJC7mksPSPfLlH1CYyOyKShwSrH70/EG6LGf6NTHi9iXqY2MSbCxwck7
			MbCQOfxk04EYSWI=
			</data>
			<key>private</key>
			<data>
			MIICXQIBAAKBgQC7APkLkZGNL3z5wU1juFPTYOf6SyRaTJzYKAc+A+fPOrF2lf8EHYTL
			URUgC1n1VRUcLiINLdQrpcs/KABMmZIPlqhn4RneJG6Cxi+S/miT4BvFfGlatqQqpzTO
			0WA6ICoNWI6Uo5kfU+B0ghixwZkSE5T0cMI8yJXM49VAbGMTkQIDAQABAoGADIDuJgXf
			s47/TjvMjuReRn3uROANWDRTMGjMwyrDryl/gCxbVs0aefW78d6Qb0T3GmFDSZpM23ZE
			dr6X9oc2KtM+e9CyWzRbXMLNsahD9CgAa4XP+54kS45kbPFCI6QjoVqBSZgp5uzVBd0a
			mX0703ogQ8HydGLkwZhnW6fQQCECQQDy8me+AyZgw0qgBfst1gozD434SHKfsATLQOZe
			3rTAyxQf4gnQmfM0Z3Xwb3oqYmaaTpXano4eHOHpuC3M9oYNAkEAxQ0aPZoNt9WvM3Sx
			/VhxYCHcP84ZY7lHAIZ3XPGi6s48g6YcNQ5qPWMauGzkaMAmoKpkiHTeJEV6n9srrN3G
			lQJBAMhqkIp/rrlEYduBE6TMXb2hp0ya93QkkM/byi+ZKSOiZAepQM+FMMyaTQD79Zvh
			cSL6kUS4aCUPTo6wEZh0BkECQBz5yUMHtT60IFg7r7SmXb2aHQ4Q23DrnMI6A7FaIu/O
			Nd3R/lHa9cpjGVnHQWsZ3lQ/2hqqvMOup9J74xc/YWUCQQCdyH89tlNlbQoemUD9lM2W
			tCXYJds4VJUX5gHkdvyw0oHlosS2NtowL3ssPfGJOqGBZk7BqD/PB/Av9XJWJRM6
			</data>
		</dict>
	</dict>
	<key>identity</key>
	<dict>
		<key>legacy</key>
		<dict>
			<key>signing_key</key>
			<data>
			MHcCAQEEIFXXEdVmcanucySOOJJNf9hrzrAlN/P4RPw88Ax06JAfoAoGCCqGSM49AwEH
			oUQDQgAEkD3CUBK2X9tghN6ARJjJ3oFQhzBwjq90R/Na0Qk0tyPbhzB5Nb0Tkep6koFc
			8wYF54GCUiD5NUED6Q9fcfdpRg==
			</data>
			<key>encryption_key</key>
			<data>
			MIIC7QIBAAKBoQDfJwd9QzZrKyZfagdwvbz8IMjJb5po550oNDl70JkMN0yABWuW6XeL
			1yyf7ZDI8LJmbxUu7g/Diayu9P1Z3krJS8Jlzzxy5irggRfjQ+gjagGalwQMU0G4fxlC
			yexoz68xqEso+VF8yfTnFJkHZ4UG/J/zlrl0Tv8MBqz7MUSOhDV6HsF5O0p6YtEWMkTT
			jkvUjztgvxigC+gkI+UegWbrAgMBAAECgaAsr+AsEX2gUG/Kw6zhwt1JkDclP5goUdmC
			55JrXQaJD7neGTfGbNJnyptBG43W73yKTsxrLXkyqytNjfn+OSm4zdcMFEgCql0DwFZM
			SJkAHiahxP+I/FWAQq2cuu/s8v7SMy8pJTFLF9mLMk/W39aQxo9oGLSIzFIQe1JiYm/K
			2wy0B52ZjOcIFrg9Df48h/xq9N/IlcNneYc8vr3k+LChAlEA73L/YFQHECNhVQ+UkoS/
			SJKCii2/Gz8OIUDCEXjN6sP+x8urP+29gwSbGgQE2Jsy4MqAx1fXNWyId7OUcWCB+ZYW
			NWOU2Mj+XlQIxY/zWGcCUQDuk6oHKb+fRibH4PWXiGffEaYoC8MFKGkbm3rPKSx+3Om1
			2eSEp2Zv12hlrYB9exqQ3Hmp5eMYd8bWJs5LFytbUMiOMS1y2CCGBfuMuCt63QJQCdQM
			i2WnjJAHNLiY/pKYT2BEH2vVRkcGS3MfBByTRymYUZcYhl05xCDyRNUZZdKo+fUV6BjA
			6p5z04X5d9XgP+BbNQHLYEKPvktwuLs5380CUQDiUd4nsWkAVPIRBsyzlUjECeAPeSjl
			ybH76ICV6L83EaX7RtpLJOo+CqAUZITRhGhtJ1ma3GOUIHvVRzbHcRFGLNo0WV595Zzk
			xuQcV9GXWQJRALKNfXYsffcpiQOuuXnHlLRq5jNxu3rBJeaM89NNx2P+FQ3E6LpOrQAp
			+80LEJQI+RhxG7KoTmAlwV1a9D0daZXr9hEh53v2BQla4J7mCDfK
			</data>
		</dict>
		<key>device_key</key>
		<data>
		MHcCAQEEIHf27dDaQtpjFrqtEnwNT1xWuFRIvpSHQFiS2s3cOeADoAoGCCqGSM49AwEH
		oUQDQgAEiP0Pch4pAeiB0iLcOAw7cJ7f3oqRAtt8zECZs5WCMYI9bJdsi1qNKpASWc0g
		L8kMi8D+AzAkbo+k8NelLxlTgg==
		</data>
		<key>pre_key</key>
		<data>
		MHcCAQEEIGpKY//IiYXaXUT7HPK91lm6l3LPlicwNQnqxnqjtnAroAoGCCqGSM49AwEH
		oUQDQgAEDypEdToJZEbT5nOCLO4GYB6qDQlL4dZ1TdKQ4WMHX+528b2X9rCiEkIoF5yB
		T9lEKaR04bg19I/jeqjIb1XTQw==
		</data>
	</dict>
	<key>os_config</key>
	<dict>
		<key>type</key>
		<string>MacOS</string>
		<key>inner</key>
		<dict>
			<key>product_name</key>
			<string></string>
			<key>io_mac_address</key>
			<data>
			q83vq83v
			</data>
			<key>platform_serial_number</key>
			<string></string>
			<key>platform_uuid</key>
			<string></string>
			<key>root_disk_uuid</key>
			<string></string>
			<key>board_id</key>
			<string></string>
			<key>os_build_num</key>
			<string></string>
			<key>platform_serial_number_enc</key>
			<data>
			</data>
			<key>platform_uuid_enc</key>
			<data>
			</data>
			<key>root_disk_uuid_enc</key>
			<data>
			</data>
			<key>rom</key>
			<data>
			</data>
			<key>rom_enc</key>
			<data>
			</data>
			<key>mlb</key>
			<string></string>
			<key>mlb_enc</key>
			<data>
			</data>
		</dict>
		<key>version</key>
		<string>13.6.4</string>
		<key>protocol_version</key>
		<integer>1660</integer>
		<key>device_id</key>
		<string>2eec8543-dd88-42ec-9c87-32786bff46df</string>
		<key>icloud_ua</key>
		<string>com.apple.iCloudHelper/282 CFNetwork/1408.0.4 Darwin/22.5.0</string>
		<key>aoskit_version</key>
		<string>com.apple.AOSKit/282 (com.apple.accountsd/113)</string>
	</dict>
</dict>
