<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push</key>
	<dict>
		<key>token</key>
		<data>
		6QnYwCMGABhhlDXapQljE3PcVs4jTtFqOEkGYSf8FR0=
		</data>
		<key>keypair</key>
		<dict>
			<key>cert</key>
			<data>
			MIICnjCCAgegAwIBAgIKA+uR12HNyjYPaDANBgkqhkiG9w0BAQUFADBaMQswCQYDVQQG
			EwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEVMBMGA1UECxMMQXBwbGUgaVBob25lMR8w
			HQYDVQQDExZBcHBsZSBpUGhvbmUgRGV2aWNlIENBMB4XDTI0MDgwMzA0NTcyM1oXDTI1
			MDgwMzA1MDIyM1owLzEtMCsGA1UEAxYkODk1NEU5NDAtMzBGOS00OEEzLUFDQ0MtQTJG
			RDYxREJFRkI3MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCTaQfHMreNC2E6Zi+0
			fs7hzu6GpZJ3d4eXEsPRoXHNjXFICl8bThDWUhOivQ+CuxISDqY7ci1QqxMnkBoxrubb
			675uMbQioP5/de9aL/ePZ0zgsHex1Iu3vRt3WzeyYpZShoESXZDe+u7ihY4Q1QPAUBGo
			ib3ntvMUfpk3KS0pEwIDAQABo4GVMIGSMB8GA1UdIwQYMBaAFLL+ISNEhpVqedWBJo5z
			ENinTI50MB0GA1UdDgQWBBRyuMJ7rRsUc/proAcyLexZNmy81TAMBgNVHRMBAf8EAjAA
			MA4GA1UdDwEB/wQEAwIFoDAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
			EAYKKoZIhvdjZAYKBAQCBQAwDQYJKoZIhvcNAQEFBQADgYEAjg0IX84UmgrTaMRyl7Fu
			d8uJDOP8iihV34X6tXnneHSR40Z47N5xW5FctKsLJswvGSkHABxstk2ra5S0oy4mkcxJ
			qVVPJPQBvq6Q/ApNnI0xOf4ygRG09+GSjXmyHlTG/UWpujnVY94Al6whcLWH67dD5uil
			rU2wErdPZ4daIiM=
			</data>
			<key>private</key>
			<data>
			MIICXQIBAAKBgQCTaQfHMreNC2E6Zi+0fs7hzu6GpZJ3d4eXEsPRoXHNjXFICl8bThDW
			UhOivQ+CuxISDqY7ci1QqxMnkBoxrubb675uMbQioP5/de9aL/ePZ0zgsHex1Iu3vRt3
			WzeyYpZShoESXZDe+u7ihY4Q1QPAUBGoib3ntvMUfpk3KS0pEwIDAQABAoGAMOUDqXUP
			IP+HToGajToKkSe8Qnkk7e990ARvY1czkkS6MHUQOtRYDV7IGJCxVmGKiubFCK7EjR9R
			iSvpJFWpSQQ3qucqKh+EcbBGkzMeUh/TjbD4Luq1c69uqeXYzzlLYlONnRZEEsYGS+mS
			/uCEkqMPvGofMd+VUWuWxaOYmgECQQDDQ3pk8QQ0D7tbzA2Wfm7Rz6HyIBRcQ8TWD3k2
			D0yfMuY5UZJw1xS1AIXTiF1hZp7EhXtomxu9zEr3qnfYQteTAkEAwUMSJnC26a/7g61B
			sq5Fs7xBciwvLuKGJZmgTZch1aKM101nnoPvalr3fRxsrg5KagzspHMjClTSa2WJC4xY
			gQJBALXKYe4OccJijyV0wYXGKjiOHZEFis8njN9aQpgxAD4LLkpZBoSlybKGTRHWmFGx
			L8l5GJ8YIWjABV+1RqSB/p8CQBcB3xVIcd4cHzsr0xhsesvM65WmAO/587JiOZ1DEroW
			IeI3ytAqMMRek/wG+EE4Xk+Fvl5NfqxqMKqsacZALQECQQCnAEpnEaomPoTShh++00yQ
			stpBG2ToBd7sfDbSTU0WBYJ1pdpNnhDP1PpTrBxJs/zRSBvCBRVDA6ElmUsUW2Q1
			</data>
		</dict>
	</dict>
	<key>os_config</key>
	<dict>
		<key>type</key>
		<string>MacOS</string>
		<key>inner</key>
		<dict>
			<key>product_name</key>
			<string></string>
			<key>io_mac_address</key>
			<data>
			q83vq83v
			</data>
			<key>platform_serial_number</key>
			<string></string>
			<key>platform_uuid</key>
			<string></string>
			<key>root_disk_uuid</key>
			<string></string>
			<key>board_id</key>
			<string></string>
			<key>os_build_num</key>
			<string></string>
			<key>platform_serial_number_enc</key>
			<data>
			</data>
			<key>platform_uuid_enc</key>
			<data>
			</data>
			<key>root_disk_uuid_enc</key>
			<data>
			</data>
			<key>rom</key>
			<data>
			</data>
			<key>rom_enc</key>
			<data>
			</data>
			<key>mlb</key>
			<string></string>
			<key>mlb_enc</key>
			<data>
			</data>
		</dict>
		<key>version</key>
		<string>13.6.4</string>
		<key>protocol_version</key>
		<integer>1660</integer>
		<key>device_id</key>
		<string>2eec8543-dd88-42ec-9c87-32786bff46df</string>
		<key>icloud_ua</key>
		<string>com.apple.iCloudHelper/282 CFNetwork/1408.0.4 Darwin/22.5.0</string>
		<key>aoskit_version</key>
		<string>com.apple.AOSKit/282 (com.apple.accountsd/113)</string>
	</dict>
</dict>
