<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>auth_keypair</key>
		<dict>
			<key>cert</key>
			<data>
			MIIIKDCCBxCgAwIBAgIQFkZfZVFXEe///////////zANBgkqhkiG9w0BAQUFADBuMQsw
			CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
			MQ4wDAYDVQQPDAVkcy1pZDEmMCQGA1UEAwwdQXBwbGUgSURTIERTLUlEIFJlYWxtIENB
			IC0gUjEwHhcNMjQwODAzMDUxMzE0WhcNMzQwODAxMDUxMzE0WjBcMQswCQYDVQQGEwJV
			UzETMBEGA1UECgwKQXBwbGUgSW5jLjEJMAcGA1UECwwAMQ4wDAYDVQQPDAVkcy1pZDEd
			MBsGCgmSJomT8ixkAQEMDUQ6MjE2MzU4MzYwMTIwggEiMA0GCSqGSIb3DQEBAQUAA4IB
			DwAwggEKAoIBAQC4zBjcKCin3N5F9O6gWWt5Eif4uPUq7Y2MiocmTgBl1rBiamgoOO7/
			uWTj1UfKz8cEBsDwTAWXjqy8VSBB9k8iimzE/IS3UNSLuryf+8ag7UBPMmYew4Y/y1UY
			iecBfYTMbSss5GoEM18gPSJzC31CTyytawmjy0LB+q9HFMwcc42mHeGyKHEvueBoj/ql
			/2tAoznwFxnc6n2E4PKSemV1EXLdgRnua6/arcBIlm84GwD0MSxnIKJHdk8wYDnG1rUK
			zUoNmofy2ND+PzZNjUZnA1DnRwnvFnygjgdgLm8Bp07pS7G9qk/r6Ldj2eySFOhNh3fZ
			2m+WGWKYSs0oih6PAgMBAAGjggTSMIIEzjCCBEoGA1UdEQSCBEEwggQ9oCAGCiqGSIb3
			Y2QGBAQDEgADAAAAAQAAAAAAAAZ8AAAAAKCCBBcGCiqGSIb3Y2QGBAcDggQHAEZVU1AA
			koHDf8asNDtP/3aWC3ZJKH1Qk7t2spx+l71/Vf1Ze4CKC3bm3kVPTEI+AAXZf9RHx73+
			stYlt1mgX7Mv6fhlzbQPgxFJP2H0JSFYSx2pWBB7aZIt05jNmn1NpW8U0Ht/zenzAmbd
			JRiPI+vtJJa3gvSwuWGX3yScCy07gdKbxdrZzhmjhAlEsOt3UW4nwyv0gJCsF7b5Wg0J
			R3Mq39u7Yd6y0pN7+Vw/zVSC5mWpiKHLj56LEZDPKKYlGkMTVn6hMpLb7S11CWlvNPYz
			K29IcZ2Zy34TTvEujEYoG45yqQ8xJNJrR83peLke/1jElDogG8iSI5j7KgRbI+f48fI1
			B92j26zvGL+FkE/ZtllD/FTxDJYek8FsJkWX+SiMrsZiVkKhiJVlmW+EBmIuwOffOfNf
			gWZRBJM/UHVLGw76MKB+8mzQNjl6DpsLGjz7IWT5Z+bCHGz62KMjnvPa1kuTBOWVi4Ty
			qUR/c7punik2RIOPLxBwXJ8Qmv7nG2rNjdba0cldHzMn+EQt79mcCjH7kZh1BAvt7cwx
			AarANxJ6RElIe0sPiKshpi2pXOGccIalTWCsMo+lVqKj+xgH0QvbSl6qWwoodny5yzUt
			gpwNMRnDgITM6vczZnMq3iY2enZ/hgcPWMm9CQVQW0rne56wcrPgoQS60qcb3s7Rh9il
			GIOaxgOn7E19N2IO727WexJDjgDPhuwwT1QCst62eKTaxlqPdG318/+6p+Y/03GO05dP
			S2i0VDDVzkMq5vTeYK3wCT4F0hylROm5qriNVMwl7aizkHYzqmDAJDrIR0PBNNItFnU/
			ZGeW1NNCA8nCFDAUQo8PPrsIyKHxE59DP9GsktTe7x9zgY5SoAMo1NVAhRDlQsOR0gqt
			T7aCeUJ4oZUxjvESa4E5dZXfNQyGNV6yGsYyxH9YgWpgxVNIOAmGUYHSZQ9eux7SGrjI
			RY9O4kb9fpnEIbP2BA+ETZvfHwMlcLuD8cPMiczgk0u7gaQtNJCrmVb1RQn3Qt3xQeKQ
			fgkWGTacSfxzxfrS9LT9WKesOw8Cteut5J+oqAgi4eIjPMjEt0IFICmvwJmo4/z9kEo+
			EaGi+n2knkb2TQzc71JJI4Qi5B8HSwel2xnnklg2jMtXb33zwZk2iMuEIXiEMCZExBBT
			UJ5OYYf1WA4lELJ2FMzHij3ubpCaHohINqgBlQwz0p8w9JueUiFJCeaZ3bJhP3ODLrWN
			gs/1GQmnsZtHfI9ZfX5nfcPVRR0BCkbDn9PxHxZkU14+XwAIOzOPl9hgqBFijUDUJczd
			G5dGDYchDkNz+4xofTyT+IQZdsXPLh+Y4fbvlGeBAdR5aIzyhsJQ7DRBeF6TwTxu+oNJ
			45Ye86UwHwYDVR0jBBgwFoAUhNNshlgwd2JETKyHiRRE8hyxO2MwHQYDVR0OBBYEFJRV
			Wnd23/r/5RLz7K7ABmukIA6HMAwGA1UdEwEB/wQCMAAwDgYDVR0PAQH/BAQDAgP4MCAG
			A1UdJQEB/wQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOCAQEA
			Gur5u9+NaHnkO5+tQ9V5ypVYAzreJqj9I5Ly3xyErgVy+QlyKs4csWj7+ik5SjdQeBsL
			z225IPMukVMqK+RXzPiAy+vW2UJkpoyXRv23/fySmq7olwjWZW6qUiFSUDM3xOYeZlBh
			VYNgLu6gdgV0tgym6GeaM4XerCS+XJA3MfIYvsa+K7PaWNtS+ZSu7L7uOsk9o8gavsve
			AngIjUECQ5GrqYrVrOWy/RaRiRgcW49gJywoSXAIZHBKbqKWBXDQyT7BgxLYMTwh9qEa
			BjSQWdJlW80kar0KcDwA/jp+ffYUE+wYPZGVHgeMbbBbNGzM+rc4DV6d4xsCQtE4MbFU
			9g==
			</data>
			<key>private</key>
			<data>
			MIIEogIBAAKCAQEAuMwY3Cgop9zeRfTuoFlreRIn+Lj1Ku2NjIqHJk4AZdawYmpoKDju
			/7lk49VHys/HBAbA8EwFl46svFUgQfZPIopsxPyEt1DUi7q8n/vGoO1ATzJmHsOGP8tV
			GInnAX2EzG0rLORqBDNfID0icwt9Qk8srWsJo8tCwfqvRxTMHHONph3hsihxL7ngaI/6
			pf9rQKM58BcZ3Op9hODyknpldRFy3YEZ7muv2q3ASJZvOBsA9DEsZyCiR3ZPMGA5xta1
			Cs1KDZqH8tjQ/j82TY1GZwNQ50cJ7xZ8oI4HYC5vAadO6UuxvapP6+i3Y9nskhToTYd3
			2dpvlhlimErNKIoejwIDAQABAoIBABZK+MzGQ3FMobvKuma5os9uM0g798d/9M15gKhM
			TJv8dDbLI1mG1L4gvV0Gw6xhuF5x+iCC60HHQmtN0aBjeFRwYoK4+8GpjJp2on6iPun2
			9QUYzVz0tWNIwjE9oZJ6c+S9XrIBtBBhqh4Xgepi/m9bYcZh3T3XLWx9M1vd1GmyCm/8
			ujMAN0vODgREzOtpA7KcWcofY0hHJeGo09JOATRa7R3kcWSZTVj24zg6AdFMIKTene31
			EAGvAR8CziNrO4r5Ut3FB3AGuyP6E+hG5U3IY6oX6Tg1AWfzTi2QqwGqP0Yt5w9z5e4m
			jZz81ScuwKT7t4tg7qCyv39Ji64XNIECgYEA2rOrLTrhale3AooKPJYWrx2cjo7r0Gj/
			7z+fZEpXlvW4ibDkH1eAHir89Q0cC1axstSw7RJCPwlmoHUqu/4Mt5Fq4I6rFIFjg9/j
			yQzz4ygNSGtWshMUlYxD6LVvPjDFLyJg2raSydqe03re3L/FMBZzliAUQbjbKFyDzsvL
			Rm8CgYEA2FAvJzsqdSGJL8gGH/lPR8YHHBzwDMhZvsAVqig25f54A2A97tWFgfDVHmoA
			YQ21qQPfOc7pNDOqsbW051ZgdqKb7MuuMpVUjybdusJ7zjWEEmB+c3GZETUqQNUjSudh
			J5lqxHZR9UKvggGj45bdKb/n5FhsSm+O6cydIHA1ueECgYAGcn19W9sBU4ylmoQqvRH2
			H51Z5oS1JCNHXkzInBhw7tV92aUf92hje0jxwG0vOGMMrpB4rK0fRpur50hXOmoNj0/j
			RtFsTVQtsw/4AVW/QJMDq4ZmwYE912C5H4AkCTQG67CHQhKZuMQt39VqFI0vmbnWlyOB
			vH1Zd0C7e+6GKQKBgAWVrGH66RG1F/Gf3Gie6ykTN8PGC3yI/6gpFWYbO6+cbkTIC1FL
			OfMs4JO0cOYQkIwYiX7YlLTAULvd0RnX5Q2rDROD/q9Xo6M+gaL8um2MfChtTVZ1rFoB
			YWHjHtIkPyHimBsSYvNOEXHt0OljT7pwNfBzR/h0AOCQY84el4SBAoGAMVd+tsHkE2Lx
			WxiC4BqKG9+6ps70MG0KgeGFubJ/f78sPCgy11/wlzYMtaf18zSYEY+I3OeW/3gZgX57
			kaK1U17C8gwyb18zQ3NZg2uL/r9BeE4PcbvrF02ZtcsB/YD50B+kEi1ocxMUp5aGBQmw
			50oFJA5s8Hu9COzKd13/n6M=
			</data>
		</dict>
		<key>user_id</key>
		<string>D:21635836012</string>
		<key>registration</key>
		<dict>
			<key>id_keypair</key>
			<dict>
				<key>cert</key>
				<data>
				MIIHCDCCBfCgAwIBAgIQFsFcGFFXEe86ufppa2z5AzANBgkqhkiG9w0BAQUFADBuMQsw
				CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
				MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
				IC0gUjEwHhcNMjQwODAzMDUxMzE0WhcNMjQwOTE3MDUxMzE1WjCB2zELMAkGA1UEBhMC
				VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCU1lc3NlbmdlcjEOMAwGA1UE
				DwwFZHMtaWQxHTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2ti
				OkRGQzc5QkM2MTA5RDc4Njg4MjA5QTlFQTQ4OTc4REU5QTdEQTFEMTAvRTkwOUQ4QzAy
				MzA2MDAxODYxOTQzNURBQTUwOTYzMTM3M0RDNTZDRTIzNEVEMTZBMzg0OTA2NjEyN0ZD
				MTUxRDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALjMGNwoKKfc3kX07qBZ
				a3kSJ/i49SrtjYyKhyZOAGXWsGJqaCg47v+5ZOPVR8rPxwQGwPBMBZeOrLxVIEH2TyKK
				bMT8hLdQ1Iu6vJ/7xqDtQE8yZh7Dhj/LVRiJ5wF9hMxtKyzkagQzXyA9InMLfUJPLK1r
				CaPLQsH6r0cUzBxzjaYd4bIocS+54GiP+qX/a0CjOfAXGdzqfYTg8pJ6ZXURct2BGe5r
				r9qtwEiWbzgbAPQxLGcgokd2TzBgOcbWtQrNSg2ah/LY0P4/Nk2NRmcDUOdHCe8WfKCO
				B2AubwGnTulLsb2qT+vot2PZ7JIU6E2Hd9nab5YZYphKzSiKHo8CAwEAAaOCAzIwggMu
				MIICqgYDVR0RBIICoTCCAp2GJ21haWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0
				ZWNoLmRldqBcBgoqhkiG92NkBgQEA04AAwAAAAYAAAAEAAAAAQAAABEAAAAAAAAGfAAA
				AAAAAAB6AAAGfAAAAAAAAAB9AAAGfAAAAAAAAAB4AAAGfAAAAAAAAACBAAAGfAAAAACg
				ggHABgoqhkiG92NkBgQHA4IBsABGVVNQANl7j9DGrDQ7T/92lgt2SShr73L1yU/3j36N
				HjRv4pKbFCQJxojNzojk50NY/pAejpASdzpuoxMWKJlARb+GgMoZrJ1xko1ycYHW3FCB
				u17opDqnW8jEpW041yudtdj2i3z8eroitMEQurJpXelAn7gEPP7X5H3Yr/EE4jRAP0n5
				WW72eVi/JUPaHXniH6S/Od2IU5q1g3dDJ1p8QWsyapolvtN2bZ5p8bsn0ECJY7kWYxRm
				Tu7hUK0RaOY/CsGJYMGYn6ABMFvihGzqUmtGCbQDGOnSGBzpEa88sDUE0cpAh7A54zye
				MQ/gslmObtDKSy2BibOUTfyuLA8XtjNxWYuppT840r6FM6dliLDSKZ4tJzzr5N+g8L9+
				rZWiDyigIQgqiRlkda25IZRfQEe8oTSVeeUjDpDjfv/7ayiCns7+eyP99T14riB/vXpl
				nhaN9DnNPizQu3FhuckwTsx3hqHhvnX6PM+B1wXJyNHCIz34c8Qq3VXynKV380HdMn0q
				0ASZOC7jRzPWW18ipmJ7ySWq2MNBk4urJO9nSILzwMn1tt9hhYiHZHjtOqAfBgoqhkiG
				92NkBgQIAxEAFsFcGFFXEe86ufppa2z5A6AvBgoqhkiG92NkBgQGAyEA6QnYwCMGABhh
				lDXapQljE3PcVs4jTtFqOEkGYSf8FR0wHwYDVR0jBBgwFoAUxntpvknAQQ7AyKsyMjjk
				P5FAi9owHQYDVR0OBBYEFJRVWnd23/r/5RLz7K7ABmukIA6HMAwGA1UdEwEB/wQCMAAw
				DgYDVR0PAQH/BAQDAgP4MCAGA1UdJQEB/wQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAN
				BgkqhkiG9w0BAQUFAAOCAQEAZARHCHIrVjR+hf1pBOTeiGFZuH6jxNTyhC9sRyyxDVW2
				f1RJm95SgDjv/jj3lZIur1CPb0BN+qtzgFumVPeSKF3sY5vhNz/9x4Ouvg4Cbvh0a0/H
				d4WCVupf29sS3MqoAEzthqxyhkLupDvy19jHKEjPqixOAQaGhpyXpSSHK59xxP9T1V2W
				b4RdrtKj7wX2r62eqArfXsH9ruMgvIMSROVMhUlOS3X2wz14UoAvz+xSAUHwPrL7dH1e
				K+GzMu3nV1BD36bZZBQu3T6O6zURJZxplrkqo6xZ/9LZGESUrAENislEFgpsJuswHZKM
				U0+3+SPnjmqu2tF09/HI45Tc0g==
				</data>
				<key>private</key>
				<data>
				MIIEogIBAAKCAQEAuMwY3Cgop9zeRfTuoFlreRIn+Lj1Ku2NjIqHJk4AZdawYmpoKDju
				/7lk49VHys/HBAbA8EwFl46svFUgQfZPIopsxPyEt1DUi7q8n/vGoO1ATzJmHsOGP8tV
				GInnAX2EzG0rLORqBDNfID0icwt9Qk8srWsJo8tCwfqvRxTMHHONph3hsihxL7ngaI/6
				pf9rQKM58BcZ3Op9hODyknpldRFy3YEZ7muv2q3ASJZvOBsA9DEsZyCiR3ZPMGA5xta1
				Cs1KDZqH8tjQ/j82TY1GZwNQ50cJ7xZ8oI4HYC5vAadO6UuxvapP6+i3Y9nskhToTYd3
				2dpvlhlimErNKIoejwIDAQABAoIBABZK+MzGQ3FMobvKuma5os9uM0g798d/9M15gKhM
				TJv8dDbLI1mG1L4gvV0Gw6xhuF5x+iCC60HHQmtN0aBjeFRwYoK4+8GpjJp2on6iPun2
				9QUYzVz0tWNIwjE9oZJ6c+S9XrIBtBBhqh4Xgepi/m9bYcZh3T3XLWx9M1vd1GmyCm/8
				ujMAN0vODgREzOtpA7KcWcofY0hHJeGo09JOATRa7R3kcWSZTVj24zg6AdFMIKTene31
				EAGvAR8CziNrO4r5Ut3FB3AGuyP6E+hG5U3IY6oX6Tg1AWfzTi2QqwGqP0Yt5w9z5e4m
				jZz81ScuwKT7t4tg7qCyv39Ji64XNIECgYEA2rOrLTrhale3AooKPJYWrx2cjo7r0Gj/
				7z+fZEpXlvW4ibDkH1eAHir89Q0cC1axstSw7RJCPwlmoHUqu/4Mt5Fq4I6rFIFjg9/j
				yQzz4ygNSGtWshMUlYxD6LVvPjDFLyJg2raSydqe03re3L/FMBZzliAUQbjbKFyDzsvL
				Rm8CgYEA2FAvJzsqdSGJL8gGH/lPR8YHHBzwDMhZvsAVqig25f54A2A97tWFgfDVHmoA
				YQ21qQPfOc7pNDOqsbW051ZgdqKb7MuuMpVUjybdusJ7zjWEEmB+c3GZETUqQNUjSudh
				J5lqxHZR9UKvggGj45bdKb/n5FhsSm+O6cydIHA1ueECgYAGcn19W9sBU4ylmoQqvRH2
				H51Z5oS1JCNHXkzInBhw7tV92aUf92hje0jxwG0vOGMMrpB4rK0fRpur50hXOmoNj0/j
				RtFsTVQtsw/4AVW/QJMDq4ZmwYE912C5H4AkCTQG67CHQhKZuMQt39VqFI0vmbnWlyOB
				vH1Zd0C7e+6GKQKBgAWVrGH66RG1F/Gf3Gie6ykTN8PGC3yI/6gpFWYbO6+cbkTIC1FL
				OfMs4JO0cOYQkIwYiX7YlLTAULvd0RnX5Q2rDROD/q9Xo6M+gaL8um2MfChtTVZ1rFoB
				YWHjHtIkPyHimBsSYvNOEXHt0OljT7pwNfBzR/h0AOCQY84el4SBAoGAMVd+tsHkE2Lx
				WxiC4BqKG9+6ps70MG0KgeGFubJ/f78sPCgy11/wlzYMtaf18zSYEY+I3OeW/3gZgX57
				kaK1U17C8gwyb18zQ3NZg2uL/r9BeE4PcbvrF02ZtcsB/YD50B+kEi1ocxMUp5aGBQmw
				50oFJA5s8Hu9COzKd13/n6M=
				</data>
			</dict>
			<key>handles</key>
			<array>
				<string>mailto:jerrylandgreen@copper.jjtech.dev</string>
			</array>
		</dict>
		<key>identity</key>
		<dict>
			<key>signing_key</key>
			<data>
			MHcCAQEEIKjGijLZk1YXtDUadRvOXXI2xWHz3xSeKISM7TjKDLbVoAoGCCqGSM49AwEH
			oUQDQgAEjtVLK9+zttb6292TcUkJDhqRUMS/8kEmElGW8WGrHPARpjR87wMMY4VQcHg/
			PYn29KZuNQEm73/BaLGAgE6bWA==
			</data>
			<key>encryption_key</key>
			<data>
			MIIC7QIBAAKBoQDAzqzn7lvzGiNYIg7VaJjKYBbkRQ2woieZnChLzfpMzZjmifvKTrRy
			j1pQeQvhj2YlDljc2C0jJWt9+J19b6ud4lHrWxgu3ew6vyjYRxb8ATS5CKHpos10CNc6
			MPVrmu4XKgZrue/gx70dE5HYWFotUqjdpAs0UW/duIyUYjO+naQKZOkkXH+NiB8kho5G
			3LERkpLFGKTViOBJb8f+2iNjAgMBAAECgaBdfttRzMBB7pbdEgbnbcVJvbbcErBEyx0w
			3AyeVc/eloRipt62h9vxAZrmEwyz4HnD1mU5Eosw0+CAQaL9RL2P3kOjQZVEhNEc273O
			wwpeQM6+6fDQvUVw7fzqHnO0qNBG/I2o9wx47mAvpJtOasOdWuLWH+zNgiFycAS2W/El
			05IN3BZii5WZqU2vRdwpxtQdjEYNq3AH8vcv0aVeyhOhAlEA902oKrVqT+6jlHLUrg12
			DbiUilwWhthlZleJmDQ+j5hW/nFdqzIKYWwJkHu/IaDAT0fOJVYYxauUOXcXyZ+tS7Fw
			/B+hbo2HmxQGRZJD1e8CUQDHlmtTk96bX2k1kStBUTgSqztz1RYK+nEF4R08aXDep68C
			WOt0XIGkwL5L/IjYrwRJslT/ry/ooEMJ24ucaUu0FvP3S5Z8RXew/9pvszBdzQJRAI/9
			KSLkyeeMXLX8PhSxRcErbWE5yOvuZuu1oCl8kchtvIkdXJpm4mBi1RbI1jowLIh8mGxo
			ures9PqYesMsM2xU/iHuEMIbqY8Dk7tCNDkFAlAQnBYGeJHYAFKzIIenAelWtGVYOG2D
			MGBjit5x/pxkCzRnT5sYrfIkEd5EWJnS3o3OzEaCmMO16lBp65lsxN6F+DsJY4L8iJNz
			aXd2QEVQKQJRALhe0hsT02JRSlJplM9+PLR2Ur00qn7e4sCWXlEc347Gwe+upjtXzC9h
			WKIEOoPnMKAPXqgHYHnnt7bNrdRLz8drd6m7401rdYHdGwWaJkQl
			</data>
		</dict>
		<key>user_type</key>
		<string>Apple</string>
		<key>protocol_version</key>
		<integer>1660</integer>
	</dict>
</array>