<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>auth_keypair</key>
		<dict>
			<key>cert</key>
			<data>
			MIIIKTCCBxGgAwIBAgIRALehRcGjnBHv//////////8wDQYJKoZIhvcNAQEFBQAwbjEL
			MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
			UzEOMAwGA1UEDwwFZHMtaWQxJjAkBgNVBAMMHUFwcGxlIElEUyBEUy1JRCBSZWFsbSBD
			QSAtIFIxMB4XDTI0MTExNTIxNTgxNloXDTM0MTExMzIxNTgxNlowXDELMAkGA1UEBhMC
			VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xCTAHBgNVBAsMADEOMAwGA1UEDwwFZHMtaWQx
			HTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMIIBIjANBgkqhkiG9w0BAQEFAAOC
			AQ8AMIIBCgKCAQEAwWsUlZFVqv7epClsFf1f/zW+IEqfn8of8F4GjYt9HYtk84HWtkGs
			bsN+kfPC1slhnkS/oVHK8Qofgb/GQ/HozZWhvRUFi05yu35tGrr+vf0pamm/tZ/eoFkl
			hve9RUbXYZOOQnNr9605L4+pO4x3EcPoYv0GTqEPpdTRuR8KykVvxp+zE8uozLN+P4cI
			yuojuLWLz/ZSZf1vyNhmA8anO4Gg7oCYedY/RMTwznPG0aUOg4Kg5cq/pPNXCuclYvIw
			Xe81EmfvgSdUpFhySy03yd8i7VEPXPaNxpGgkgFosdluv411q4Pe0oq/lnTZMu73OaEy
			d17BxzjJ9hDYj8mEIwIDAQABo4IE0jCCBM4wggRKBgNVHREEggRBMIIEPaAgBgoqhkiG
			92NkBgQEAxIAAwAAAAEAAAAAAAAGfAAAAACgggQXBgoqhkiG92NkBgQHA4IEBwBGVVNQ
			ACoDuubGrDQ7T/92lgt2SShhTbb1cbeDp8SynSK0wTbktdqCCZ9veN0VgAhNf46JBGxS
			SuwsXOnAxd9v0m7IjY19YorUJU02ZyKobKb02IKDnngs3ffaD6ODouufDHeB8874kkxZ
			FOsvYFM2bj3DNh8e7IU59Mc5WpIUe8lMPHLjtq3TKVEaqhVZ6Su4Es9qqBJli/g+mg6b
			cQPhd7c9io9NQGVatCy8jmryZK3MPmN0frDZ91S3+G7Jhx2asw/82v0prlEdFSVGDS5C
			M+1bNJaXHtXjcvZXe5hdD3WVr9FutM/RWWSVNzylrTLOcAERN72udURSFFYe0qOlBjxW
			YcsEH0GFfBULpp+mbQgRCpoW5ulSvaJYoCt9/2IIt1SF9vSVX1foOl5xXYhD+jgWo+Xh
			ZjPB5NQxQpeu7De8qTNKgBAFH3pUGhKSqfi3cFfvbJD+qBgMQhRUJALaXMQ0OOTXM3Y4
			1dI3UlAeWlSzu71zGaBNw1stbyreJL30E0CD81Y850NLr3QmK6JxRYTXaW9QIE8QJFG0
			vqo0/7rn3AztPfFKBzXsZjDM/keXtkOAwVTnN6QZPigQdbGtZrKMGLMCjhjL3nALe6B3
			oxCk107EaGR/Ci6U0M3KAq1aTet+jgU87syCxbxWV1cKePKBXAoP1PmvoXoXCggcGqA2
			bmI7ARurQlUk3NWBBMLnbQ0xvW1gdN7ZcLwDM75UtmvDnUVuBalVwtKzZB75dFx0SEW7
			rKR+2swBV3InunxJByQnaNCUCG3s0vH1wK77KIaF5NkPfnKZi5vw2aNJttKlqVfG0IS7
			9jrusOYdulBdhVQsvlcqDX/DfyxhswMhF7Xq5aZPucbT5C4sqwqpZCZS5oigd0mHRjzt
			21V+qhFXP6SU02PBDvHd4UpQmfjLo0XII1zjFYIVLCD+m3Tc4IgI/m1uNk6wceAW18pR
			4QZSRqaVxcptFmrSBHJSXMY+hBCOFMUUHZ6BXZJ+Tbrj7YQ6mJ9sIPu1yGHOYKfgaE8r
			z/k0AFi8F5fOc2IHx3zVW3Pd+S/vCarr83abFMfh3aj8v6vrOy/jMaY8la/IBM7Qb220
			JjOaJUkOhchvRKyOm/IGo41K2ouNwoMXwpY2r28LdMv4Azl1uOr8tABBy6mGvDl9/SDe
			/jV6z5ZEdIe5vH7yi3UL06zveY1NMWZxaQMPe4YAOtCKc3TrT0mZBQa69zvCXNMePJU+
			FbSju2Bw8daVMXnEWxXJIgLPZdyQ8exqXUlHI9K0SKnEF5dgM3FQI4bDQ1B59U/rAWts
			tuVV2pon0Aw/23N6jBe5pVl+A2QKmDvU83JU/ROjXGoXxn9OOyJ1Is44PveK1TELEmWU
			zyBRiFepMB8GA1UdIwQYMBaAFITTbIZYMHdiREysh4kURPIcsTtjMB0GA1UdDgQWBBSy
			2D0urAZxxV+XfydNZ6eXuv0jeDAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAg
			BgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEB
			ABJusxjwswoDMOinCRuEbDtIqO5yYftLl2+xxI1cTsb3i4yl+UnwMZuHbNqaDP07vG9X
			bVin7877jKWwIhaEaNWm8mbNEZY7h4P9occUgiwG5WwkD+E7JK1+RuzXox21R7d+2VW8
			ha4Ly81qgFtAnsGc5tVSuEol9LbIoacxntn4l1+h+sNlmS1Xl1xuuhyMd/N745eKJrV6
			3TYonxwABDumuoHb146uhQzBh77W29cBWRRfUrJO5kC4G6ud8jEdU9yTKPIUuIwSzAc/
			jdzqTFf9/1hqNcEKjsf1EP6btz/yNdPGsxPAXoaQSqY8kd+1LfG06ywNTBXP3VaM6vII
			PHI=
			</data>
			<key>private</key>
			<data>
			MIIEpAIBAAKCAQEAwWsUlZFVqv7epClsFf1f/zW+IEqfn8of8F4GjYt9HYtk84HWtkGs
			bsN+kfPC1slhnkS/oVHK8Qofgb/GQ/HozZWhvRUFi05yu35tGrr+vf0pamm/tZ/eoFkl
			hve9RUbXYZOOQnNr9605L4+pO4x3EcPoYv0GTqEPpdTRuR8KykVvxp+zE8uozLN+P4cI
			yuojuLWLz/ZSZf1vyNhmA8anO4Gg7oCYedY/RMTwznPG0aUOg4Kg5cq/pPNXCuclYvIw
			Xe81EmfvgSdUpFhySy03yd8i7VEPXPaNxpGgkgFosdluv411q4Pe0oq/lnTZMu73OaEy
			d17BxzjJ9hDYj8mEIwIDAQABAoIBAA434ph9dDsQvKnRXbUJc5AdkZoVbOyLKD6RkDvB
			gEi2tuIWWQP8NJfOiTRjeJ7fc5dLMycXDdXFn7v4WV559ForNhY3QGQVjTuZN0iwFwqS
			XK606AyK8bZUjKdXo4iUhOq9tRx6GFAUYiV2kxiMjTLiID1+n4MSNfCZLMhGBD4K10wG
			vNHLnCxVUGFS9A68WPbf1hMJrcIS0uvwFQxekHr7zL5LOih50yHG6D53qWIRcB7sQsiJ
			PpxxKy6NH3GlBzAwyPLvE3PTvQvbuPAzrcJNXjXUgcYTsy2qeVRTLgBbGuGk4rdRZtO2
			vh2VkekoWVV5N3rsWmZC8X8FWsQTQekCgYEA4ySggqNESlaJqUxrRB7GvO8Z2d6WR9hf
			xAUFzTrpt31y2M7tY22gDrytlg9V+9Nedt7/kLyhyneUw8KEl6/RfOWNbXzWlgjpMlUm
			Y4uc2XL0c/sMXqHZBWLWrPchGeOEu523AHvMYJv6ze5hONopFEWCnkzhPNZ87rexS+x/
			QucCgYEA2f2fSKReUBmEtm6wbWtFX1qqyffDyqjKoDGNSce7d7pt8sCnpCglNNJODMF+
			sFCT822DBo27Bo1dmniitXD/0VJxaZSuSf5567SGGNAlQzj5yF8A0a5EKwZZrJ+mNf9j
			meMqTsZSFKznvJKAcaKsfvm5CPSQeOqRv69MhQi2CWUCgYBCsoKfWam32mlZ2SK2QgNB
			f0QsAXxHZHXabU8i0GXIh4GtwDVcuNgC+8xM//vTkmFurlSE/57SgQKh6QBeOjZdYlqB
			B+NK8xrmuLIpENnh0CuP0uvy7bt4JWm8KGUD4RccsFcIQVHmHGctCQ5rT0Q4u6B7M0AA
			SUsuHapmDO/hiQKBgQCWb2N78wqvBl1CtLKGYE/4lQ5l4Nk6Qy/KS0fw0ah64Ko9q1xF
			efrrL/Ly9JlkPcdMZ5fTbv3RcL9W+cd3pWq1XsqrjRKWN8qVsfgUqZf9gxVFhOKA0V1z
			v6ck7Ov8OanXqiApSs2cPRKTXRrM0PFvkxBxsKz+9QnuGaCZ8kAFzQKBgQCF3b7NWDqi
			oYDbGdqUCs7fB2sunPVNS9E0GKF6TdVJgkSwms6AzjosNXQeZMfsY+NH0gLfk6JLUbj+
			OVCAWTeEhp5uf80Ixjc2A3sfzOj+L+XtByvBGq/BX40mMOFmeLWVPq8G82mNEkLjz8BA
			J/YRB6vYlZzi/ENNM9TO4tGIrg==
			</data>
		</dict>
		<key>user_id</key>
		<string>D:21635836012</string>
		<key>registration</key>
		<dict>
			<key>id_keypair</key>
			<dict>
				<key>cert</key>
				<data>
				MIIHCjCCBfKgAwIBAgIRALg67ZKjnBHvBNtCROns/gMwDQYJKoZIhvcNAQEFBQAwbjEL
				MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
				UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
				QSAtIFIxMB4XDTI0MTExNTIxNTgxNloXDTI0MTIzMDIxNTgxN1owgdsxCzAJBgNVBAYT
				AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMRIwEAYDVQQLDAlNZXNzZW5nZXIxDjAMBgNV
				BA8MBWRzLWlkMR0wGwYKCZImiZPyLGQBAQwNRDoyMTYzNTgzNjAxMjF0MHIGA1UEBRNr
				YjpERkM3OUJDNjEwOUQ3ODY4ODIwOUE5RUE0ODk3OERFOUE3REExRDEwLzZENkExMkUy
				RjZDMEE0QUEwOERCOUFENTE5QjkxQjk0NDlDRkIzNUQwMkU3NkQwMUNDMTI5RjBFM0M4
				RThEREQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDBaxSVkVWq/t6kKWwV
				/V//Nb4gSp+fyh/wXgaNi30di2Tzgda2Qaxuw36R88LWyWGeRL+hUcrxCh+Bv8ZD8ejN
				laG9FQWLTnK7fm0auv69/Slqab+1n96gWSWG971FRtdhk45Cc2v3rTkvj6k7jHcRw+hi
				/QZOoQ+l1NG5HwrKRW/Gn7MTy6jMs34/hwjK6iO4tYvP9lJl/W/I2GYDxqc7gaDugJh5
				1j9ExPDOc8bRpQ6DgqDlyr+k81cK5yVi8jBd7zUSZ++BJ1SkWHJLLTfJ3yLtUQ9c9o3G
				kaCSAWix2W6/jXWrg97Sir+WdNky7vc5oTJ3XsHHOMn2ENiPyYQjAgMBAAGjggMzMIID
				LzCCAqsGA1UdEQSCAqIwggKehidtYWlsdG86amVycnlsYW5kZ3JlZW5AY29wcGVyLmpq
				dGVjaC5kZXagXAYKKoZIhvdjZAYEBANOAAMAAAAGAAAABAAAAAEAAAARAAAAAAAABnwA
				AAAAAAAAegAABnwAAAAAAAAAfQAABnwAAAAAAAAAeAAABnwAAAAAAAAAgQAABnwAAAAA
				oIIBwAYKKoZIhvdjZAYEBwOCAbAARlVTUAD+GkR+xqw0O0//dpYLdkkoNI0UvVIO0dvX
				ILrr9E/aSFBvALs2sD5rRA2DIKhKsJQhGej2JIcaz7UZrCIpCm/lw/JZ8XlNwAtt+sCn
				3skpa1/vyVuTO2vjkwyozVRtPe5nr9y+Oe2vW2/nijKJM4faL6eMsLkuBCHZFHEd/SRj
				54Ira+V4rK/3MFkPN72GSPncAKsfRHAYQykltw0kBzQ4eIOoloXAqB+looJqTrBNgdIg
				K+5Ifm+RLIUEKxqHixlIS74oPd9FtySJzunTRLxCgwVmRx5kZcv9gBEtIbApWA3tcThV
				k5TR7PIpAdLQ1RRDVI3llcpkftf7BUMwMy5jWUwd3W74+AwTRU5OFApfTCyLuWZKRd6k
				Rp8fcEz3VEKNDX1QwLFn7EtMbblpn++DKzBy6+lKDdxe30L9nO1dLcBjcK1f/R2HfLa9
				pTjwMBEQGRYuZqzevhZSGzSJMdC2jnperr+v9CTBchwJylA+2Gk8S8nV4aVT51ty4+IA
				ahGi97veYTNE5bgHzsWVum95x6VBc6bpCLJ7ugUh8E87DToOzkOmzAN0R0qgIAYKKoZI
				hvdjZAYECAMSAAC4Ou2So5wR7wTbQkTp7P4DoC8GCiqGSIb3Y2QGBAYDIQBtahLi9sCk
				qgjbmtUZuRuUSc+zXQLnbQHMEp8OPI6N3TAfBgNVHSMEGDAWgBTGe2m+ScBBDsDIqzIy
				OOQ/kUCL2jAdBgNVHQ4EFgQUstg9LqwGccVfl38nTWenl7r9I3gwDAYDVR0TAQH/BAIw
				ADAOBgNVHQ8BAf8EBAMCA/gwIAYDVR0lAQH/BBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMC
				MA0GCSqGSIb3DQEBBQUAA4IBAQAQNTzk1++bKYnDbO8k4NgigomNk2eJuae5KjGI9AcD
				zGqu9RDCADvqPDZ/UlK6ttIdQxVifAbXdE2fVxtE4A9t73hK+kjkopu+WiUvLurbKJBU
				jSAG/syM2dZ6+Xq+PjFGG+Qp49ylQI594GD/kSx1jzvarAjhlcd25G0NC9cexRziHLBs
				ABzDMV4VhbrQec/buh5HYbsaD7pVASV4TYQ2Ng0BOMew2XcOs+EIFpm1kML6UolHdSYp
				pM/nsKtG2o8casQpKoq4h22pGQZpfLN5a6CL5DxtKdm1O6vsP9nXb73NaEAbQzCVXLEL
				8gq85Bh+0o8LfYP2+fKElluLtGiW
				</data>
				<key>private</key>
				<data>
				MIIEpAIBAAKCAQEAwWsUlZFVqv7epClsFf1f/zW+IEqfn8of8F4GjYt9HYtk84HWtkGs
				bsN+kfPC1slhnkS/oVHK8Qofgb/GQ/HozZWhvRUFi05yu35tGrr+vf0pamm/tZ/eoFkl
				hve9RUbXYZOOQnNr9605L4+pO4x3EcPoYv0GTqEPpdTRuR8KykVvxp+zE8uozLN+P4cI
				yuojuLWLz/ZSZf1vyNhmA8anO4Gg7oCYedY/RMTwznPG0aUOg4Kg5cq/pPNXCuclYvIw
				Xe81EmfvgSdUpFhySy03yd8i7VEPXPaNxpGgkgFosdluv411q4Pe0oq/lnTZMu73OaEy
				d17BxzjJ9hDYj8mEIwIDAQABAoIBAA434ph9dDsQvKnRXbUJc5AdkZoVbOyLKD6RkDvB
				gEi2tuIWWQP8NJfOiTRjeJ7fc5dLMycXDdXFn7v4WV559ForNhY3QGQVjTuZN0iwFwqS
				XK606AyK8bZUjKdXo4iUhOq9tRx6GFAUYiV2kxiMjTLiID1+n4MSNfCZLMhGBD4K10wG
				vNHLnCxVUGFS9A68WPbf1hMJrcIS0uvwFQxekHr7zL5LOih50yHG6D53qWIRcB7sQsiJ
				PpxxKy6NH3GlBzAwyPLvE3PTvQvbuPAzrcJNXjXUgcYTsy2qeVRTLgBbGuGk4rdRZtO2
				vh2VkekoWVV5N3rsWmZC8X8FWsQTQekCgYEA4ySggqNESlaJqUxrRB7GvO8Z2d6WR9hf
				xAUFzTrpt31y2M7tY22gDrytlg9V+9Nedt7/kLyhyneUw8KEl6/RfOWNbXzWlgjpMlUm
				Y4uc2XL0c/sMXqHZBWLWrPchGeOEu523AHvMYJv6ze5hONopFEWCnkzhPNZ87rexS+x/
				QucCgYEA2f2fSKReUBmEtm6wbWtFX1qqyffDyqjKoDGNSce7d7pt8sCnpCglNNJODMF+
				sFCT822DBo27Bo1dmniitXD/0VJxaZSuSf5567SGGNAlQzj5yF8A0a5EKwZZrJ+mNf9j
				meMqTsZSFKznvJKAcaKsfvm5CPSQeOqRv69MhQi2CWUCgYBCsoKfWam32mlZ2SK2QgNB
				f0QsAXxHZHXabU8i0GXIh4GtwDVcuNgC+8xM//vTkmFurlSE/57SgQKh6QBeOjZdYlqB
				B+NK8xrmuLIpENnh0CuP0uvy7bt4JWm8KGUD4RccsFcIQVHmHGctCQ5rT0Q4u6B7M0AA
				SUsuHapmDO/hiQKBgQCWb2N78wqvBl1CtLKGYE/4lQ5l4Nk6Qy/KS0fw0ah64Ko9q1xF
				efrrL/Ly9JlkPcdMZ5fTbv3RcL9W+cd3pWq1XsqrjRKWN8qVsfgUqZf9gxVFhOKA0V1z
				v6ck7Ov8OanXqiApSs2cPRKTXRrM0PFvkxBxsKz+9QnuGaCZ8kAFzQKBgQCF3b7NWDqi
				oYDbGdqUCs7fB2sunPVNS9E0GKF6TdVJgkSwms6AzjosNXQeZMfsY+NH0gLfk6JLUbj+
				OVCAWTeEhp5uf80Ixjc2A3sfzOj+L+XtByvBGq/BX40mMOFmeLWVPq8G82mNEkLjz8BA
				J/YRB6vYlZzi/ENNM9TO4tGIrg==
				</data>
			</dict>
			<key>handles</key>
			<array>
				<string>mailto:jerrylandgreen@copper.jjtech.dev</string>
			</array>
			<key>registered_at_s</key>
			<integer>1731707897</integer>
		</dict>
		<key>user_type</key>
		<string>Apple</string>
		<key>protocol_version</key>
		<integer>1660</integer>
	</dict>
</array>