<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>auth_keypair</key>
		<dict>
			<key>cert</key>
			<data>
			MIIIKTCCBxGgAwIBAgIRAM+m1VXaqRHv//////////8wDQYJKoZIhvcNAQEFBQAwbjEL
			MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
			UzEOMAwGA1UEDwwFZHMtaWQxJjAkBgNVBAMMHUFwcGxlIElEUyBEUy1JRCBSZWFsbSBD
			QSAtIFIxMB4XDTI1MDEyNDIzMjAzM1oXDTM1MDEyMjIzMjAzM1owXDELMAkGA1UEBhMC
			VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xCTAHBgNVBAsMADEOMAwGA1UEDwwFZHMtaWQx
			HTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMIIBIjANBgkqhkiG9w0BAQEFAAOC
			AQ8AMIIBCgKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
			G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
			Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
			8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
			aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
			qt5E376jo/9VJhWH9wIDAQABo4IE0jCCBM4wggRKBgNVHREEggRBMIIEPaAgBgoqhkiG
			92NkBgQEAxIAAwAAAAEAAAAAAAAGfAAAAACgggQXBgoqhkiG92NkBgQHA4IEBwBGVVNQ
			ANyaP4PGrDQ7T/92lgt2SShP2r/rSJLFka41DjN43BKz2ADBKtRuJn+LiDXisSioeJaV
			IVt9RKZS6a1CDzbOzM9fka19DHHI74F5v5cUNr52WEuQEI6HRPyFKcRypAXJusrXaSND
			0Jvheqz3pmD0iWm+L8tYxLZo+lCRqHJNx0e8SzJi/VkYQMreBOeBO9jtuoglWxCQnPym
			9jbSHWq77KFhO2HYrU+83IhRUB8P4V8v0zuymdISb1kZD8Mwuel1zZJMM37EwbAO7wtc
			w04r6JiDePKBHcDPOFpsNJyLlNxSUxkVi9xkKSPisNYIBPVHqLzsL7akMkoepXwRQjDl
			0jf6sla+H9jyChCMykT4cyW7Frq283z4wYQypAxSKBDpNZFZbea3KXlQl+eW9a5MGtpD
			aHpueVVF8OO2IAri7A/0fu/+wMb+o0yI+CSOURyCoJ8UGo1GN9wREKT2zH70S1zCbSc2
			Aosos2W7FuD3kj3t3bbyX8CD4HMK/DiIGbkPcktwlA3NTkP7XIwOOG2ddZ/oxvOsgB7i
			+QVVbEyoFZ6VCBhRIEO39/wUbDVeEYDIsqZXVle8sJFsGlOAxz+dG8hvKWPeMyIA3vxV
			FK+SLh51Y0F2CyfjuyyVdtXaxsZUjFvxPC8JYfMPOaO65xCw+/bXu1peNyOV3c9cvfhH
			boU51KWeyIKeFFhrzL3c+gw0SSYiLnf3qRRNEZWSVw+KPdMNFYlPvmTt8IH/tf16ECjN
			0xje0KDLe8rGzcUbLTy5tDG2cDSNX/M5eW1bEwh7n6HfRW0ZqjJkRFbBK/HEiSWwePGF
			qrqMs6XfD0GqEdWLhNCBf/XoY0Zh/f65dTrMizGjRL8fBH+BkrZ5rl5RTJinRvufA11m
			WR5D0LUifrrT+O1EYnER1Pq9tKhpYGTJ+EmyYKRIdRatGSYacbBktnOCkuSvaeq9Te8S
			paAWZxZBfjzbGMwr+7IxJ7MqNKhi4CD8NeUkxkFDVpPIXk9tHCGZMLxKHHtP7U6WM6oh
			MNIUH1fErbah2hdPXoM/5814QVnvrZJrVDwx/HU/gVj7K6MAjeTenY7buu/sZ4wc9lRp
			7cNICUJ0K1VOxrKdz2X5g4feyyIoYZRZWmoLExpF+EGMcPcw74/upoPbBW95xFsNhXZY
			MDxE+2vsQEKHlIntiDV7sGnmYCzk7h5H4nMLUfz3ccmRpJzE84VGD43xQ6kMkq08hBhs
			EX3sOCnLqhgWCb8XBwzbhxX9qMd/mZnkGdKqECueGhO8rdZrJR2gXU0RzKT0e9KFu82d
			a1mZoK2TGQOW+ahOglc1HlQxC9+n1NmFamfQ4sp0srE2/KTm+cKagUAIjClA7euk4LeW
			15LqD8aaMB8GA1UdIwQYMBaAFITTbIZYMHdiREysh4kURPIcsTtjMB0GA1UdDgQWBBTG
			XUb3VZBsTCFUT10eLX+w9TCPCDAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAg
			BgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEB
			AD3XKFYDW2ZbSj4W7sWc+mduoZT121spELGKre6seJdUpzyLJscX10Hka0PKx10cFu8L
			XDRJ7lUbRYkkVogr5Ve1ZORRlig14Xnzk4a6SOkTCEa9I+pxrZI8zdN9k/LtPGy13ZaT
			AGtZ99iW+maw/ieh2xSzgE1ivj4i8yjDG68qxCY1l2aOYXDvcQtmNfSTfBmQ6yuCt9VG
			It1KF4KdMRoSPNouQBR3w5xXeLObo7vYopN8b6XOytaPhbSq9a15DTKXMya4dhc7xJf5
			IqBbhaJyoripIWxoDLO3kl4bhbhE8RSgUqsF2Th8qU5RMhBoKhCED8CT/14m+xXvKcXm
			20U=
			</data>
			<key>private</key>
			<data>
			MIIEogIBAAKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
			G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
			Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
			8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
			aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
			qt5E376jo/9VJhWH9wIDAQABAoIBAAYlz0IWks1Ib484Dc3pXn9VXNeE6zE9ss7TO9Q7
			s5xulNS3DdJlkazrUDR+EtJGPppu9jyyJU0EqtitVtgpDM7yk+4TW3ilvS4zFdiQ6clD
			Zrzm7n1OtT4H3V8xcrnHy9TDMWdbvf8I6pr1pkS0Pan7RlrV+hLE5/l3JB7Z2U0U0S3C
			6A+iWyP5+gl+e+zOvz41XCb6raeqxFBFs4sbVdRUJCHVY1Ki/mGO+LezDviX0q+9VY6a
			hBK43Ad5hlDjSScE6eIfZgBspf7cHvNixBEhjI79vgz0vY4Z8ogXdM7/AiXqDgFthNwr
			HOurc4slksCAOeIj484S5eHmK9krfAUCgYEA9pxsMb+RvMx+R3vS21PmM4A7WcF5O3fS
			pI1lgk2ImnFiskfHz4QczHKF5Cs8e82sia2KidOgt91wDldjPqMH1NdGdWFPAPkGK/vK
			ltYkiuKwfK31guQyt3I7Wg3djHO0ar7YxFBKYxlLgFIMolq5grrA50T5Ece7lAjr9zpv
			QusCgYEAz5Zv4BRi8jb6/8MneTgp1aYfgzVYBlCv0MgjdKNeojtvTckPUkK6RDSDSO/I
			jnBa0KUfmwyqdaRfKO/4lq0P+Ta9JqOLUVFa+83hs+Ad9U03WVgN8CPE5Q1ZUxX9Jb3V
			w6Fm0QlVSPjg2qzC+SII8WVnv93Ma8fcZ+SYZQWzlCUCgYAGG3OWe88JJOtPq+JZ6ib+
			SYOuwlrVPS9rQdEsu+zRHlO6ZIqvOe9YpNFqCCQUUNCgDDstFJ+bThGTWVis2W69N6OY
			DpPdS016015+A8md4uVKASjeV/Zlkp+jqEo/SzJBnn5RxkdBUwQKpn2Hm8WSVjumvo+I
			gDDGBr6JPdo5hwKBgDXL7sJLhjjvNq0BjkFD5NORcak3MdCxKF8a/tVDYUr5zCaEbIwM
			7uiuEzfbrEX9qAtaP46XAbXrGx4o0mt5/iG/pdVVnM0+IC4RdOSAuELR9/4Xa8VH/8a8
			ZuG5WRlm0PcZ5ONXX9rBZMRG8WBPCbJFbVWzzT5BVUU3YKcNizRhAoGACnCodXnuLm5w
			+xn/w12SEIht/9i0K3J5dHHrxLS22lFq3FysN5+76ZM+UxbsylfGDiEBo97LaPeojkIm
			8j/Ec0gb+DgMAIVPboxWjRsY2VK+BNC0or5pelc7eTFzirKHT8n6vWBnlC4gPuNgdlyp
			Nq+TnrserSdNAXKs2UBPBl8=
			</data>
		</dict>
		<key>user_id</key>
		<string>D:21635836012</string>
		<key>registration</key>
		<dict>
			<key>com.apple.madrid</key>
			<dict>
				<key>id_keypair</key>
				<dict>
					<key>cert</key>
					<data>
					MIIHCjCCBfKgAwIBAgIRAM/yDuHaqRHvJDY+ihxQyAMwDQYJKoZIhvcNAQEFBQAwbjEL
					MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
					UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
					QSAtIFIxMB4XDTI1MDEyNDIzMjAzM1oXDTI1MDMxMDIzMjAzNFowgdsxCzAJBgNVBAYT
					AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMRIwEAYDVQQLDAlNZXNzZW5nZXIxDjAMBgNV
					BA8MBWRzLWlkMR0wGwYKCZImiZPyLGQBAQwNRDoyMTYzNTgzNjAxMjF0MHIGA1UEBRNr
					YjpERkM3OUJDNjEwOUQ3ODY4ODIwOUE5RUE0ODk3OERFOUE3REExRDEwL0EzNzQ0MEM2
					OUZEQUI0MDRDNEEyMzA0NkZDRTFFNzJCNTMyNzMyRDBBOTIxQ0NCRDc2NENEOEQyMDlB
					RDM5NEIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDH+WbpTnjeT+1jXkl/
					Jb4k6AmIFR1rDXzLcJaCUHYQ33NUUPsw2H0bm+7y88dF4TOcF0/mTCS94JCMB2BlxYfX
					bn+lCOikdAcokhwnrAgNgDfgxL/+1KlKGEtn5ql6juUuMtIJGWcBkZadt1UnuqvGBs+X
					PdRX2RP5iNbv1GC4F5xvV+yGBb/DswisPJ7w1x9o3jKgMMYRodpVBBXW2lYbuGwF1crQ
					geKRzVGMJODCSEzNkeifvRKzrDMxEx5pw5Foo4aM0+7uWt9kqkgII/qMHLja7mAFwEB7
					MovhVfrgFSMsB9GHUpCzRG+/INO2RAOibI+q3kTfvqOj/1UmFYf3AgMBAAGjggMzMIID
					LzCCAqsGA1UdEQSCAqIwggKehidtYWlsdG86amVycnlsYW5kZ3JlZW5AY29wcGVyLmpq
					dGVjaC5kZXagXAYKKoZIhvdjZAYEBANOAAMAAAAGAAAABAAAAAEAAAARAAAAAAAABnwA
					AAAAAAAAegAABnwAAAAAAAAAfQAABnwAAAAAAAAAeAAABnwAAAAAAAAAgQAABnwAAAAA
					oIIBwAYKKoZIhvdjZAYEBwOCAbAARlVTUADfovkaxqw0O0//dpYLdkkoZWDvvk+TbFVO
					7heLS+KIaSO80rMBquH+glfoYG7EXMH4jYOm1+FxKD3C9Y1wF9Onq5Ir6oh3hKHglDzJ
					oovPHKj+HRn3EMmuofFmFsNgxc00K2gJQyG8Kl3mHQM0/wy94GP+62H0QBgXhk2XyqXj
					mRaJCx3DPaX73JOl6OfmEKCUzJxSEHmXauT3F4Rz0xI5cW46AV054q45Fo140yisApt0
					cC47SJCBhuQN9ZDMn+fGy7qZ/cTbm9WZ/nGvdy3itVthxETZTIPzGxE6n893mMiF07uN
					vYAQI/LXaY7dK7eS90G0BCrN8V+bP6FEVQINheEMumKEMERuQeu9nWmZAliIJxDOsxPH
					+1VX9rXiT/sLi2X1tuQPB6Zazl+aIjwRZoHiol767kDE14+zM/OZ8SdGD95tHiGzN0nU
					IDLFVAN8wn+mHD9fPXKieyOpCIuXGgmk17qUWDTCqJnHmbJNOtd7Wu5uTSx+wyGFIKPI
					fVXJSkX3w1YBqcvxW58BdbxX6s4s0s6672Ug0ON13O4SeJN1BAr0z9Hi2zugIAYKKoZI
					hvdjZAYECAMSAADP8g7h2qkR7yQ2PoocUMgDoC8GCiqGSIb3Y2QGBAYDIQCjdEDGn9q0
					BMSiMEb84ecrUycy0KkhzL12TNjSCa05SzAfBgNVHSMEGDAWgBTGe2m+ScBBDsDIqzIy
					OOQ/kUCL2jAdBgNVHQ4EFgQUxl1G91WQbEwhVE9dHi1/sPUwjwgwDAYDVR0TAQH/BAIw
					ADAOBgNVHQ8BAf8EBAMCA/gwIAYDVR0lAQH/BBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMC
					MA0GCSqGSIb3DQEBBQUAA4IBAQBZgKd7BMY+tfSFTYN6PE6IahECtUfb4ChkveizttGY
					Wca2Pgb6F7qi4a26IWvCLtGjGTiR0ejTvvddo27nG5CdEyyrnhWnk9MJZzvG/LVrIhvH
					RPJQonjUYW0Ru+wtoXRnl38ymgP/bCEZP/73RM67uk0MiDgWh4IoTuXbavo+mXMGdHFo
					NZWJgGaOwZy1NDGA+9GoTXu6yj5MraNdmqzZBEcIGgeI62EjSFGIDdN4wjQ2uBTZQxB7
					1hHPVtUGRbv8H1kkRXYLOczQZnBEaDaHYEdgHN2ABMlwo8doWn5Ehjtfi6qZKibkR6KJ
					EXZIINZKSvuEEQGCFJxrg9mErkcT
					</data>
					<key>private</key>
					<data>
					MIIEogIBAAKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
					G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
					Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
					8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
					aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
					qt5E376jo/9VJhWH9wIDAQABAoIBAAYlz0IWks1Ib484Dc3pXn9VXNeE6zE9ss7TO9Q7
					s5xulNS3DdJlkazrUDR+EtJGPppu9jyyJU0EqtitVtgpDM7yk+4TW3ilvS4zFdiQ6clD
					Zrzm7n1OtT4H3V8xcrnHy9TDMWdbvf8I6pr1pkS0Pan7RlrV+hLE5/l3JB7Z2U0U0S3C
					6A+iWyP5+gl+e+zOvz41XCb6raeqxFBFs4sbVdRUJCHVY1Ki/mGO+LezDviX0q+9VY6a
					hBK43Ad5hlDjSScE6eIfZgBspf7cHvNixBEhjI79vgz0vY4Z8ogXdM7/AiXqDgFthNwr
					HOurc4slksCAOeIj484S5eHmK9krfAUCgYEA9pxsMb+RvMx+R3vS21PmM4A7WcF5O3fS
					pI1lgk2ImnFiskfHz4QczHKF5Cs8e82sia2KidOgt91wDldjPqMH1NdGdWFPAPkGK/vK
					ltYkiuKwfK31guQyt3I7Wg3djHO0ar7YxFBKYxlLgFIMolq5grrA50T5Ece7lAjr9zpv
					QusCgYEAz5Zv4BRi8jb6/8MneTgp1aYfgzVYBlCv0MgjdKNeojtvTckPUkK6RDSDSO/I
					jnBa0KUfmwyqdaRfKO/4lq0P+Ta9JqOLUVFa+83hs+Ad9U03WVgN8CPE5Q1ZUxX9Jb3V
					w6Fm0QlVSPjg2qzC+SII8WVnv93Ma8fcZ+SYZQWzlCUCgYAGG3OWe88JJOtPq+JZ6ib+
					SYOuwlrVPS9rQdEsu+zRHlO6ZIqvOe9YpNFqCCQUUNCgDDstFJ+bThGTWVis2W69N6OY
					DpPdS016015+A8md4uVKASjeV/Zlkp+jqEo/SzJBnn5RxkdBUwQKpn2Hm8WSVjumvo+I
					gDDGBr6JPdo5hwKBgDXL7sJLhjjvNq0BjkFD5NORcak3MdCxKF8a/tVDYUr5zCaEbIwM
					7uiuEzfbrEX9qAtaP46XAbXrGx4o0mt5/iG/pdVVnM0+IC4RdOSAuELR9/4Xa8VH/8a8
					ZuG5WRlm0PcZ5ONXX9rBZMRG8WBPCbJFbVWzzT5BVUU3YKcNizRhAoGACnCodXnuLm5w
					+xn/w12SEIht/9i0K3J5dHHrxLS22lFq3FysN5+76ZM+UxbsylfGDiEBo97LaPeojkIm
					8j/Ec0gb+DgMAIVPboxWjRsY2VK+BNC0or5pelc7eTFzirKHT8n6vWBnlC4gPuNgdlyp
					Nq+TnrserSdNAXKs2UBPBl8=
					</data>
				</dict>
				<key>handles</key>
				<array>
					<string>mailto:jerrylandgreen@copper.jjtech.dev</string>
				</array>
				<key>registered_at_s</key>
				<integer>1737760834</integer>
				<key>data_hash</key>
				<integer>9057398093033726687</integer>
			</dict>
			<key>com.apple.private.alloy.multiplex1</key>
			<dict>
				<key>id_keypair</key>
				<dict>
					<key>cert</key>
					<data>
					MIIHCzCCBfOgAwIBAgIRAM/yDuLaqRHvJDY+ihxQyA0wDQYJKoZIhvcNAQEFBQAwbjEL
					MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
					UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
					QSAtIFIxMB4XDTI1MDEyNDIzMjAzM1oXDTI1MDMxMDIzMjAzNFowgfQxCzAJBgNVBAYT
					AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSswKQYDVQQLDCJjb20uYXBwbGUucHJpdmF0
					ZS5hbGxveS5tdWx0aXBsZXgxMQ4wDAYDVQQPDAVkcy1pZDEdMBsGCgmSJomT8ixkAQEM
					DUQ6MjE2MzU4MzYwMTIxdDByBgNVBAUTa2I6REZDNzlCQzYxMDlENzg2ODgyMDlBOUVB
					NDg5NzhERTlBN0RBMUQxMC9BMzc0NDBDNjlGREFCNDA0QzRBMjMwNDZGQ0UxRTcyQjUz
					MjczMkQwQTkyMUNDQkQ3NjRDRDhEMjA5QUQzOTRCMIIBIjANBgkqhkiG9w0BAQEFAAOC
					AQ8AMIIBCgKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
					G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
					Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
					8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
					aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
					qt5E376jo/9VJhWH9wIDAQABo4IDGzCCAxcwggKTBgNVHREEggKKMIIChoYnbWFpbHRv
					OmplcnJ5bGFuZGdyZWVuQGNvcHBlci5qanRlY2guZGV2oEQGCiqGSIb3Y2QGBAQDNgAD
					AAAABAAAAAUAAAABAAAAAQAAAAAAAAZ8AAAAAAAAAIEAAAZ8AAAAAAAAAD4AAAZ8AAAA
					AKCCAcAGCiqGSIb3Y2QGBAcDggGwAEZVU1AAiWH4jsasNDtP/3aWC3ZJKALovlQBe38r
					c94YaknxqBW+6dJyhjYz593Fa6irzhs4f1rjwqIZxijolUXE3NlTn/75OZbZIe2IpgT6
					YPd/RDd+BR1feTLK03WxRSATM88LAkBhEPTD4R6wF0fo6M46I/W0ZH6T9xYRPgRBtL4M
					OPA+n2u6qbo1cwLOtxh8CnrP/v33y1SHrEMbRymfl2Bfn3gg7PNw01LzdALLJZZ2ysCs
					L+ttu5+lqL4x7c+HC1BgrvlzI+9YJbFwRTBywPjei5ybOmQ07PW50O54nOBFJgL9y+bd
					gPJS2k9aAEU7GmlWg5jJdIiFLlHExP7Snq4YRvt/8bd140t92x1Pm9Xdq7JmlBvCMJ7E
					zrh44ERgm1fEY3OY1kuNfJ3zGh0CAnW+9uVQskND5zBx5EGUSIZiE55nG/N1meP9vs6r
					YSf8XaWfifxaHki/NaldsEv2+p3n5+2SxmObX3fGvN9pFquvCWvmS80vOefkfK1qhpZU
					6/utJNIwdhNpasE1hW9QTutpOuSxJnBOIqI7o8YePOp1c9fPNlHoEe/NceWCoCAGCiqG
					SIb3Y2QGBAgDEgAAz/IO4tqpEe8kNj6KHFDIDaAvBgoqhkiG92NkBgQGAyEAo3RAxp/a
					tATEojBG/OHnK1MnMtCpIcy9dkzY0gmtOUswHwYDVR0jBBgwFoAUxntpvknAQQ7AyKsy
					MjjkP5FAi9owHQYDVR0OBBYEFMZdRvdVkGxMIVRPXR4tf7D1MI8IMAwGA1UdEwEB/wQC
					MAAwDgYDVR0PAQH/BAQDAgP4MCAGA1UdJQEB/wQWMBQGCCsGAQUFBwMBBggrBgEFBQcD
					AjANBgkqhkiG9w0BAQUFAAOCAQEAMK87GGpKRnPOuIQ/sP/+WRxuu5aIWYHeKkP9+wT1
					kUG94cWMRwkP4BSY4ZXaKEsCeEoEaKpOEMme4ZY0zNYzB7/X+/JJJ7jahY+uK27IR+IA
					PT/8rJZ4UjhFYo9sANr8xllummb6wYpRqhE+DiW0tVEnpog2hTwg1vpM+W0w6TvdyfqW
					2+D57fU4qjdfSi0SVZW7xKwL8F+8GfGtQjElnJ0dPOYUaUuQkriW4cWkj9eNdEBMFPwb
					q7zaozKaO3KxN8kKrkO6BhBe0GNqXNCjMTZD8hwUoQ2nBJObVWkka7sXSzCmyYXKvpPB
					rHd3WRD8RIwbGlGWaavm4GRkr4BLKg==
					</data>
					<key>private</key>
					<data>
					MIIEogIBAAKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
					G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
					Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
					8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
					aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
					qt5E376jo/9VJhWH9wIDAQABAoIBAAYlz0IWks1Ib484Dc3pXn9VXNeE6zE9ss7TO9Q7
					s5xulNS3DdJlkazrUDR+EtJGPppu9jyyJU0EqtitVtgpDM7yk+4TW3ilvS4zFdiQ6clD
					Zrzm7n1OtT4H3V8xcrnHy9TDMWdbvf8I6pr1pkS0Pan7RlrV+hLE5/l3JB7Z2U0U0S3C
					6A+iWyP5+gl+e+zOvz41XCb6raeqxFBFs4sbVdRUJCHVY1Ki/mGO+LezDviX0q+9VY6a
					hBK43Ad5hlDjSScE6eIfZgBspf7cHvNixBEhjI79vgz0vY4Z8ogXdM7/AiXqDgFthNwr
					HOurc4slksCAOeIj484S5eHmK9krfAUCgYEA9pxsMb+RvMx+R3vS21PmM4A7WcF5O3fS
					pI1lgk2ImnFiskfHz4QczHKF5Cs8e82sia2KidOgt91wDldjPqMH1NdGdWFPAPkGK/vK
					ltYkiuKwfK31guQyt3I7Wg3djHO0ar7YxFBKYxlLgFIMolq5grrA50T5Ece7lAjr9zpv
					QusCgYEAz5Zv4BRi8jb6/8MneTgp1aYfgzVYBlCv0MgjdKNeojtvTckPUkK6RDSDSO/I
					jnBa0KUfmwyqdaRfKO/4lq0P+Ta9JqOLUVFa+83hs+Ad9U03WVgN8CPE5Q1ZUxX9Jb3V
					w6Fm0QlVSPjg2qzC+SII8WVnv93Ma8fcZ+SYZQWzlCUCgYAGG3OWe88JJOtPq+JZ6ib+
					SYOuwlrVPS9rQdEsu+zRHlO6ZIqvOe9YpNFqCCQUUNCgDDstFJ+bThGTWVis2W69N6OY
					DpPdS016015+A8md4uVKASjeV/Zlkp+jqEo/SzJBnn5RxkdBUwQKpn2Hm8WSVjumvo+I
					gDDGBr6JPdo5hwKBgDXL7sJLhjjvNq0BjkFD5NORcak3MdCxKF8a/tVDYUr5zCaEbIwM
					7uiuEzfbrEX9qAtaP46XAbXrGx4o0mt5/iG/pdVVnM0+IC4RdOSAuELR9/4Xa8VH/8a8
					ZuG5WRlm0PcZ5ONXX9rBZMRG8WBPCbJFbVWzzT5BVUU3YKcNizRhAoGACnCodXnuLm5w
					+xn/w12SEIht/9i0K3J5dHHrxLS22lFq3FysN5+76ZM+UxbsylfGDiEBo97LaPeojkIm
					8j/Ec0gb+DgMAIVPboxWjRsY2VK+BNC0or5pelc7eTFzirKHT8n6vWBnlC4gPuNgdlyp
					Nq+TnrserSdNAXKs2UBPBl8=
					</data>
				</dict>
				<key>handles</key>
				<array>
					<string>mailto:jerrylandgreen@copper.jjtech.dev</string>
				</array>
				<key>registered_at_s</key>
				<integer>1737760834</integer>
				<key>data_hash</key>
				<integer>17436642561734677209</integer>
			</dict>
			<key>com.apple.ess</key>
			<dict>
				<key>id_keypair</key>
				<dict>
					<key>cert</key>
					<data>
					MIIG/TCCBeWgAwIBAgIRAM/yDuTaqRHvJDY+ihxQyAEwDQYJKoZIhvcNAQEFBQAwbjEL
					MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
					UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
					QSAtIFIxMB4XDTI1MDEyNDIzMjAzM1oXDTI1MDMxMDIzMjAzNFowgdoxCzAJBgNVBAYT
					AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMREwDwYDVQQLDAhGYWNlVGltZTEOMAwGA1UE
					DwwFZHMtaWQxHTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2ti
					OkRGQzc5QkM2MTA5RDc4Njg4MjA5QTlFQTQ4OTc4REU5QTdEQTFEMTAvQTM3NDQwQzY5
					RkRBQjQwNEM0QTIzMDQ2RkNFMUU3MkI1MzI3MzJEMEE5MjFDQ0JENzY0Q0Q4RDIwOUFE
					Mzk0QjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMf5ZulOeN5P7WNeSX8l
					viToCYgVHWsNfMtwloJQdhDfc1RQ+zDYfRub7vLzx0XhM5wXT+ZMJL3gkIwHYGXFh9du
					f6UI6KR0ByiSHCesCA2AN+DEv/7UqUoYS2fmqXqO5S4y0gkZZwGRlp23VSe6q8YGz5c9
					1FfZE/mI1u/UYLgXnG9X7IYFv8OzCKw8nvDXH2jeMqAwxhGh2lUEFdbaVhu4bAXVytCB
					4pHNUYwk4MJITM2R6J+9ErOsMzETHmnDkWijhozT7u5a32SqSAgj+owcuNruYAXAQHsy
					i+FV+uAVIywH0YdSkLNEb78g07ZEA6Jsj6reRN++o6P/VSYVh/cCAwEAAaOCAycwggMj
					MIICnwYDVR0RBIICljCCApKGJ21haWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0
					ZWNoLmRldqBQBgoqhkiG92NkBgQEA0IAAwAAAAUAAAADAAAAAQAAAAEAAAAAAAAGfAAA
					AAAAAAB9AAAGfAAAAAAAAAB+AAAGfAAAAAAAAAB/AAAGfAAAAACgggHABgoqhkiG92Nk
					BgQHA4IBsABGVVNQAN7fcazGrDQ7T/92lgt2SShyFBxaOFfIsVJ1/H206ltJFfM5N1DT
					Cgh2o7USDcXQQ5LYvhpoupDIdcvQZY/aMJdVIoX4iHaZVVMzirpEqaduuCMso+UMwEFg
					VH/l9PLeex3yMThWtC82qlZ+zbsYYO+bylvP+RT3uuW5iWSkLG6padglznLZOEVyVBuo
					hyWxEhXmnJUZs7UcddWTouk4e4HfZ2lHWxjKvUjZ0mnVnx03fa/lhxq9Tj2k8LdWsUu1
					YdRjFRpRwh0Ty/1sSOd2O2ExWsNx0Il3EuNNTbXJytalW42opJSOYpRDIRBD76qignQg
					0KuL25b2wgLSrO3/7UVopt4NWIr1g+3TldSSuIOdQX45ffRqfQvkvnwx/T0eQHMSP4f+
					uPQ3EV6KcP5MAKQaAKFkV3VW8+TEz0QwzU9iBLnxr9jC0hyYEfSRaGFCj7MzD8MZuNbz
					i1dsZyLc4QKRe42cQ7g+KsBeDh5UNY5prhTACMuQ1nh+LJgqinudwbhPYXBPQDqRDAwN
					nh4sNZ9mm8m5Fecq2kWblk65AY8o4zWqAkS7su9++qAgBgoqhkiG92NkBgQIAxIAAM/y
					DuTaqRHvJDY+ihxQyAGgLwYKKoZIhvdjZAYEBgMhAKN0QMaf2rQExKIwRvzh5ytTJzLQ
					qSHMvXZM2NIJrTlLMB8GA1UdIwQYMBaAFMZ7ab5JwEEOwMirMjI45D+RQIvaMB0GA1Ud
					DgQWBBTGXUb3VZBsTCFUT10eLX+w9TCPCDAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQE
					AwID+DAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEF
					BQADggEBACccx//8Zd8oN2+jFUikSRf6xmXR5P9WCB/gCUmzXxkci4xeSvoqLHh5QhKs
					UJBVCobLtYeV7jzTUuWEGGX19qOqw2Nfwk4ln1GHERv+BH5Ry46mweOg0EyDdCyFQ0Jt
					ls1nt/d21h75LgTMUVdyrGxDWE22HJY+SmCvU1HwxRhGSWlSEI5NWJxgc2U59x4FUL44
					YvCSBkR4IJXOWDQwhL0/gBVTWMrxAP9SDmqqfvYR5VsJgoAxJR0rOoPCdokDAxRH7Fka
					Zan8G2jGpd5TVWbenGp+Y2ZhdNZnqF1m9yGTu4dXEWU/tcuSjjvG2XYSrsBq3tQr63hY
					0w+4X55NaMA=
					</data>
					<key>private</key>
					<data>
					MIIEogIBAAKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
					G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
					Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
					8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
					aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
					qt5E376jo/9VJhWH9wIDAQABAoIBAAYlz0IWks1Ib484Dc3pXn9VXNeE6zE9ss7TO9Q7
					s5xulNS3DdJlkazrUDR+EtJGPppu9jyyJU0EqtitVtgpDM7yk+4TW3ilvS4zFdiQ6clD
					Zrzm7n1OtT4H3V8xcrnHy9TDMWdbvf8I6pr1pkS0Pan7RlrV+hLE5/l3JB7Z2U0U0S3C
					6A+iWyP5+gl+e+zOvz41XCb6raeqxFBFs4sbVdRUJCHVY1Ki/mGO+LezDviX0q+9VY6a
					hBK43Ad5hlDjSScE6eIfZgBspf7cHvNixBEhjI79vgz0vY4Z8ogXdM7/AiXqDgFthNwr
					HOurc4slksCAOeIj484S5eHmK9krfAUCgYEA9pxsMb+RvMx+R3vS21PmM4A7WcF5O3fS
					pI1lgk2ImnFiskfHz4QczHKF5Cs8e82sia2KidOgt91wDldjPqMH1NdGdWFPAPkGK/vK
					ltYkiuKwfK31guQyt3I7Wg3djHO0ar7YxFBKYxlLgFIMolq5grrA50T5Ece7lAjr9zpv
					QusCgYEAz5Zv4BRi8jb6/8MneTgp1aYfgzVYBlCv0MgjdKNeojtvTckPUkK6RDSDSO/I
					jnBa0KUfmwyqdaRfKO/4lq0P+Ta9JqOLUVFa+83hs+Ad9U03WVgN8CPE5Q1ZUxX9Jb3V
					w6Fm0QlVSPjg2qzC+SII8WVnv93Ma8fcZ+SYZQWzlCUCgYAGG3OWe88JJOtPq+JZ6ib+
					SYOuwlrVPS9rQdEsu+zRHlO6ZIqvOe9YpNFqCCQUUNCgDDstFJ+bThGTWVis2W69N6OY
					DpPdS016015+A8md4uVKASjeV/Zlkp+jqEo/SzJBnn5RxkdBUwQKpn2Hm8WSVjumvo+I
					gDDGBr6JPdo5hwKBgDXL7sJLhjjvNq0BjkFD5NORcak3MdCxKF8a/tVDYUr5zCaEbIwM
					7uiuEzfbrEX9qAtaP46XAbXrGx4o0mt5/iG/pdVVnM0+IC4RdOSAuELR9/4Xa8VH/8a8
					ZuG5WRlm0PcZ5ONXX9rBZMRG8WBPCbJFbVWzzT5BVUU3YKcNizRhAoGACnCodXnuLm5w
					+xn/w12SEIht/9i0K3J5dHHrxLS22lFq3FysN5+76ZM+UxbsylfGDiEBo97LaPeojkIm
					8j/Ec0gb+DgMAIVPboxWjRsY2VK+BNC0or5pelc7eTFzirKHT8n6vWBnlC4gPuNgdlyp
					Nq+TnrserSdNAXKs2UBPBl8=
					</data>
				</dict>
				<key>handles</key>
				<array>
					<string>mailto:jerrylandgreen@copper.jjtech.dev</string>
				</array>
				<key>registered_at_s</key>
				<integer>1737760834</integer>
				<key>data_hash</key>
				<integer>15148664502989032297</integer>
			</dict>
			<key>com.apple.private.alloy.facetime.multi</key>
			<dict>
				<key>id_keypair</key>
				<dict>
					<key>cert</key>
					<data>
					MIIG9zCCBd+gAwIBAgIRAM/yDuPaqRHvJDY+ihxQyBAwDQYJKoZIhvcNAQEFBQAwbjEL
					MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
					UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
					QSAtIFIxMB4XDTI1MDEyNDIzMjAzM1oXDTI1MDMxMDIzMjAzNFowgfgxCzAJBgNVBAYT
					AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMS8wLQYDVQQLDCZjb20uYXBwbGUucHJpdmF0
					ZS5hbGxveS5mYWNldGltZS5tdWx0aTEOMAwGA1UEDwwFZHMtaWQxHTAbBgoJkiaJk/Is
					ZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2tiOkRGQzc5QkM2MTA5RDc4Njg4MjA5
					QTlFQTQ4OTc4REU5QTdEQTFEMTAvQTM3NDQwQzY5RkRBQjQwNEM0QTIzMDQ2RkNFMUU3
					MkI1MzI3MzJEMEE5MjFDQ0JENzY0Q0Q4RDIwOUFEMzk0QjCCASIwDQYJKoZIhvcNAQEB
					BQADggEPADCCAQoCggEBAMf5ZulOeN5P7WNeSX8lviToCYgVHWsNfMtwloJQdhDfc1RQ
					+zDYfRub7vLzx0XhM5wXT+ZMJL3gkIwHYGXFh9duf6UI6KR0ByiSHCesCA2AN+DEv/7U
					qUoYS2fmqXqO5S4y0gkZZwGRlp23VSe6q8YGz5c91FfZE/mI1u/UYLgXnG9X7IYFv8Oz
					CKw8nvDXH2jeMqAwxhGh2lUEFdbaVhu4bAXVytCB4pHNUYwk4MJITM2R6J+9ErOsMzET
					HmnDkWijhozT7u5a32SqSAgj+owcuNruYAXAQHsyi+FV+uAVIywH0YdSkLNEb78g07ZE
					A6Jsj6reRN++o6P/VSYVh/cCAwEAAaOCAwMwggL/MIICewYDVR0RBIICcjCCAm6GJ21h
					aWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0ZWNoLmRldqAsBgoqhkiG92NkBgQE
					Ax4AAwAAAAIAAAADAAAAAQAAAAEAAAAAAAAGfAAAAACgggHABgoqhkiG92NkBgQHA4IB
					sABGVVNQAH+g4l7GrDQ7T/92lgt2SShnzyS9nBhnnCCaA2pm8NLXqMazd2IEEKoVH4wH
					XYU+PXiWH7ut+M5PIQKXe+Vwgqb7yN14rM8HyC25qe13wNY1uksuPCJnRohyfOGYlliS
					7YPhQ1V8QkY4TLMJHUncTePxkuU8oOo4dRGxLuSMkEgdF/3GFWWmrg60OSeErv7RYt+W
					/T6hXnOM+56YRH2gm6+6wXEZb7VNL8fXK6mr9pFSNJalJwf80cMedvDOPvuk90Wagd0b
					rZtjYhP68J1To2n7C68/v1tFuSqprETz46EAE8JCNjrFrvJirEdeScfKAddlgIKkTDma
					8+hSZHHPkYy3I1k+vKHnlusvRxyOP784grpIrtNrzkUdiQFgOETF4ICD7FXqvLkHvUgx
					WQYOt5vUCn3mN0mrCFhjUmmK0vg48BaiibB3m/MUCaYHWd5/UIekUXzfCwBlbTCfOhD5
					5xdqWjKavO/6Kik+P7Uuu9NgNnmmzKLiy64L7BOMvxPzukhtioH8/Np3Wri9fTNfajyj
					+yB7Bnc+2E1T3/Ry2n6hhnpUig+6qLuddqAgBgoqhkiG92NkBgQIAxIAAM/yDuPaqRHv
					JDY+ihxQyBCgLwYKKoZIhvdjZAYEBgMhAKN0QMaf2rQExKIwRvzh5ytTJzLQqSHMvXZM
					2NIJrTlLMB8GA1UdIwQYMBaAFMZ7ab5JwEEOwMirMjI45D+RQIvaMB0GA1UdDgQWBBTG
					XUb3VZBsTCFUT10eLX+w9TCPCDAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAg
					BgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEB
					AAGAZPd9Y8jdneTWbGOE2cPWZx8WKcy3GFPbl3KDrFnGN7sJo33lSQIocEdmgi/Onz1Q
					6luyCwmQlk8jEimgfIBO6aUJyxLGxjtVgtSypgW6kF/hltaOIrJ5Y4+ozvh3Z+Jp61p8
					9mPT3dDRzEbp9QRGfBOrWWRKVwC+5by3gs3YKCu7jlNrflJry78UC1TytqXwxV5Ac78X
					856xIILr/dopop+mAgdq6yw3dIIikzX8rtOtinr85mo+jaqW0GnCAjl2MsOITYTXgYIM
					c56ttpx/9QJMJICsFqXLCYfZV8FXAXmMlrdbtWSJ0uIHT2b4ZXX1HyDWkyiW+4HBDbv2
					TuY=
					</data>
					<key>private</key>
					<data>
					MIIEogIBAAKCAQEAx/lm6U543k/tY15JfyW+JOgJiBUdaw18y3CWglB2EN9zVFD7MNh9
					G5vu8vPHReEznBdP5kwkveCQjAdgZcWH125/pQjopHQHKJIcJ6wIDYA34MS//tSpShhL
					Z+apeo7lLjLSCRlnAZGWnbdVJ7qrxgbPlz3UV9kT+YjW79RguBecb1fshgW/w7MIrDye
					8NcfaN4yoDDGEaHaVQQV1tpWG7hsBdXK0IHikc1RjCTgwkhMzZHon70Ss6wzMRMeacOR
					aKOGjNPu7lrfZKpICCP6jBy42u5gBcBAezKL4VX64BUjLAfRh1KQs0RvvyDTtkQDomyP
					qt5E376jo/9VJhWH9wIDAQABAoIBAAYlz0IWks1Ib484Dc3pXn9VXNeE6zE9ss7TO9Q7
					s5xulNS3DdJlkazrUDR+EtJGPppu9jyyJU0EqtitVtgpDM7yk+4TW3ilvS4zFdiQ6clD
					Zrzm7n1OtT4H3V8xcrnHy9TDMWdbvf8I6pr1pkS0Pan7RlrV+hLE5/l3JB7Z2U0U0S3C
					6A+iWyP5+gl+e+zOvz41XCb6raeqxFBFs4sbVdRUJCHVY1Ki/mGO+LezDviX0q+9VY6a
					hBK43Ad5hlDjSScE6eIfZgBspf7cHvNixBEhjI79vgz0vY4Z8ogXdM7/AiXqDgFthNwr
					HOurc4slksCAOeIj484S5eHmK9krfAUCgYEA9pxsMb+RvMx+R3vS21PmM4A7WcF5O3fS
					pI1lgk2ImnFiskfHz4QczHKF5Cs8e82sia2KidOgt91wDldjPqMH1NdGdWFPAPkGK/vK
					ltYkiuKwfK31guQyt3I7Wg3djHO0ar7YxFBKYxlLgFIMolq5grrA50T5Ece7lAjr9zpv
					QusCgYEAz5Zv4BRi8jb6/8MneTgp1aYfgzVYBlCv0MgjdKNeojtvTckPUkK6RDSDSO/I
					jnBa0KUfmwyqdaRfKO/4lq0P+Ta9JqOLUVFa+83hs+Ad9U03WVgN8CPE5Q1ZUxX9Jb3V
					w6Fm0QlVSPjg2qzC+SII8WVnv93Ma8fcZ+SYZQWzlCUCgYAGG3OWe88JJOtPq+JZ6ib+
					SYOuwlrVPS9rQdEsu+zRHlO6ZIqvOe9YpNFqCCQUUNCgDDstFJ+bThGTWVis2W69N6OY
					DpPdS016015+A8md4uVKASjeV/Zlkp+jqEo/SzJBnn5RxkdBUwQKpn2Hm8WSVjumvo+I
					gDDGBr6JPdo5hwKBgDXL7sJLhjjvNq0BjkFD5NORcak3MdCxKF8a/tVDYUr5zCaEbIwM
					7uiuEzfbrEX9qAtaP46XAbXrGx4o0mt5/iG/pdVVnM0+IC4RdOSAuELR9/4Xa8VH/8a8
					ZuG5WRlm0PcZ5ONXX9rBZMRG8WBPCbJFbVWzzT5BVUU3YKcNizRhAoGACnCodXnuLm5w
					+xn/w12SEIht/9i0K3J5dHHrxLS22lFq3FysN5+76ZM+UxbsylfGDiEBo97LaPeojkIm
					8j/Ec0gb+DgMAIVPboxWjRsY2VK+BNC0or5pelc7eTFzirKHT8n6vWBnlC4gPuNgdlyp
					Nq+TnrserSdNAXKs2UBPBl8=
					</data>
				</dict>
				<key>handles</key>
				<array>
					<string>mailto:jerrylandgreen@copper.jjtech.dev</string>
				</array>
				<key>registered_at_s</key>
				<integer>1737760834</integer>
				<key>data_hash</key>
				<integer>5825381804057131951</integer>
			</dict>
		</dict>
		<key>user_type</key>
		<string>Apple</string>
		<key>protocol_version</key>
		<integer>1660</integer>
	</dict>
</array>