<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dsid</key>
	<string>21635836012</string>
	<key>mme_authtoken</key>
	<string>EAAKAAAABLwIAAAAAGeUIEERDmdzLmljbG91ZC5hdXRovQDbw5k14DfhyyCMZ90LSHTlfYDdRlJ6lW9J517L6nQX4lx32d5hDExl3VhYAKC2yUcQXcGQ3fMxGx+VoWt1Cl4asMo6wA3vzdZj1wcj/LSWCR5d+OhV8WFNt88II+yq/Y+pWJw305yZYyDX2inabyKPDJJj2Q==</string>
	<key>host</key>
	<string>https://p134-sharedstreams.icloud.com:443</string>
	<key>albums</key>
	<array/>
</dict>